USE [master]
GO
/****** Object:  Database [HELPDESK]    Script Date: 29/8/2023 08:24:15 ******/
CREATE DATABASE [HELPDESK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HELPDESK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HELPDESK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HELPDESK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HELPDESK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HELPDESK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HELPDESK]
GO
/****** Object:  Schema [helpdesk]    Script Date: 29/8/2023 08:24:16 ******/
CREATE SCHEMA [helpdesk]
GO
/****** Object:  Schema [security]    Script Date: 29/8/2023 08:24:16 ******/
CREATE SCHEMA [security]
GO
/****** Object:  Table [helpdesk].[CaseTable_Case]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Case](
	[Id_Case] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](250) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Id_Perfil] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Id_Dependencia] [int] NULL,
	[Fecha_Inicial] [datetime] NULL,
	[Fecha_Final] [datetime] NULL,
	[Id_Servicio] [int] NULL,
	[Id_Vinculate] [int] NULL,
	[Mail] [nvarchar](100) NULL,
 CONSTRAINT [PK_CaseTable_Case] PRIMARY KEY CLUSTERED 
(
	[Id_Case] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[CaseTable_Calendario]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Calendario](
	[IdCalendario] [int] IDENTITY(1,1) NOT NULL,
	[Id_Tarea] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicial] [datetime] NULL,
	[Fecha_Final] [datetime] NULL,
	[Id_Dependencia] [int] NULL,
 CONSTRAINT [PK_CaseTable_Calendario] PRIMARY KEY CLUSTERED 
(
	[IdCalendario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[CaseTable_Tareas]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Tareas](
	[Id_Tarea] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](50) NULL,
	[Id_TareaPadre] [int] NULL,
	[Id_Case] [int] NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicio] [datetime] NULL,
	[Fecha_Finalizacion] [datetime] NULL,
 CONSTRAINT [PK_CaseTable_Tareas] PRIMARY KEY CLUSTERED 
(
	[Id_Tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [helpdesk].[ViewCalendarioByDependencia]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [helpdesk].[ViewCalendarioByDependencia]
AS
SELECT        helpdesk.CaseTable_Tareas.Id_Case, helpdesk.CaseTable_Tareas.Id_TareaPadre, helpdesk.CaseTable_Calendario.Fecha_Inicial, helpdesk.CaseTable_Calendario.Fecha_Final, helpdesk.CaseTable_Calendario.Estado, 
                         helpdesk.CaseTable_Calendario.IdCalendario, helpdesk.CaseTable_Calendario.Id_Tarea, helpdesk.CaseTable_Case.Id_Dependencia
FROM            helpdesk.CaseTable_Case INNER JOIN
                         helpdesk.CaseTable_Tareas ON helpdesk.CaseTable_Case.Id_Case = helpdesk.CaseTable_Tareas.Id_Case INNER JOIN
                         helpdesk.CaseTable_Calendario ON helpdesk.CaseTable_Tareas.Id_Tarea = helpdesk.CaseTable_Calendario.Id_Tarea
GO
/****** Object:  Table [helpdesk].[CaseTable_Participantes]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Participantes](
	[Id_Perfil] [int] NOT NULL,
	[Id_Tarea] [int] NOT NULL,
	[Id_Tipo_Participacion] [int] NULL,
 CONSTRAINT [PK_CaseTable_Participantes] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [helpdesk].[ViewActividadesParticipantes]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [helpdesk].[ViewActividadesParticipantes]
AS
SELECT        helpdesk.CaseTable_Case.Id_Case, helpdesk.CaseTable_Case.Titulo, helpdesk.CaseTable_Case.Descripcion, helpdesk.CaseTable_Case.Estado, helpdesk.CaseTable_Case.Id_Perfil
FROM            helpdesk.CaseTable_Case INNER JOIN
                         helpdesk.CaseTable_Tareas ON helpdesk.CaseTable_Case.Id_Case = helpdesk.CaseTable_Tareas.Id_Case INNER JOIN
                         helpdesk.CaseTable_Participantes ON helpdesk.CaseTable_Tareas.Id_Tarea = helpdesk.CaseTable_Participantes.Id_Tarea
GROUP BY helpdesk.CaseTable_Case.Id_Case, helpdesk.CaseTable_Case.Titulo, helpdesk.CaseTable_Case.Descripcion, helpdesk.CaseTable_Case.Estado, helpdesk.CaseTable_Case.Id_Perfil
GO
/****** Object:  Table [helpdesk].[CaseTable_Agenda]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Agenda](
	[IdAgenda] [int] IDENTITY(1,1) NOT NULL,
	[Id_Perfil] [int] NULL,
	[Id_Dependencia] [int] NULL,
	[Dia] [nvarchar](50) NULL,
	[Hora_Inicial] [nvarchar](50) NULL,
	[Hora_Final] [nvarchar](50) NULL,
	[Fecha_Caducidad] [datetime] NULL,
 CONSTRAINT [PK_CaseTable_Agendas] PRIMARY KEY CLUSTERED 
(
	[IdAgenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[CaseTable_Comments]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Comments](
	[Id_Comentario] [int] IDENTITY(1,1) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Id_Case] [int] NULL,
	[Id_User] [int] NULL,
	[NickName] [nvarchar](50) NULL,
	[Mail] [nvarchar](100) NULL,
 CONSTRAINT [PK_CaseTable_Coments] PRIMARY KEY CLUSTERED 
(
	[Id_Comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[CaseTable_Dependencias_Usuarios]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Dependencias_Usuarios](
	[Id_Perfil] [int] NOT NULL,
	[Id_Dependencia] [int] NOT NULL,
	[Id_Cargo] [int] NULL,
 CONSTRAINT [PK_CaseTable_Dependencias_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Dependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[CaseTable_Evidencias]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Evidencias](
	[IdEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[IdTipo] [int] NULL,
	[Data] [nvarchar](max) NULL,
	[Id_Tarea] [int] NULL,
 CONSTRAINT [PK_CaseTable_Evidencias] PRIMARY KEY CLUSTERED 
(
	[IdEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[CaseTable_Mails]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_Mails](
	[Id_Mail] [int] IDENTITY(1,1) NOT NULL,
	[Id_Case] [int] NULL,
	[Subject] [nvarchar](max) NULL,
	[MessageID] [nvarchar](max) NULL,
	[Sender] [nvarchar](max) NULL,
	[FromAdress] [nvarchar](max) NULL,
	[ReplyTo] [nvarchar](max) NULL,
	[Bcc] [nvarchar](max) NULL,
	[Cc] [nvarchar](max) NULL,
	[ToAdress] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[Uid] [nvarchar](max) NULL,
	[Flags] [nvarchar](max) NULL,
	[Estado] [varchar](100) NULL,
	[Body] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[CaseTable_VinculateCase]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[CaseTable_VinculateCase](
	[Id_Vinculate] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_CaseTable_VinculateCase] PRIMARY KEY CLUSTERED 
(
	[Id_Vinculate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Cargos_Dependencias]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Cargos_Dependencias](
	[Id_Cargo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Cargos_Dependencias] PRIMARY KEY CLUSTERED 
(
	[Id_Cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Dependencias]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Dependencias](
	[Id_Dependencia] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Id_Dependencia_Padre] [int] NULL,
	[Username] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Host] [varchar](100) NULL,
 CONSTRAINT [PK_Cat_Dependencias] PRIMARY KEY CLUSTERED 
(
	[Id_Dependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Paises]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Paises](
	[Id_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Nacionalidad] PRIMARY KEY CLUSTERED 
(
	[Id_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Evidencia]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Evidencia](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Tipo_Evidencia] PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Participaciones]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Participaciones](
	[Id_Tipo_Participacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Tipo_Participaciones] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Participacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Servicio]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Servicio](
	[Id_Tipo_Servicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cat_Tipo_Servicio] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Profile]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Profile](
	[Id_Perfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[FechaNac] [date] NULL,
	[IdUser] [int] NULL,
	[Sexo] [nvarchar](50) NULL,
	[Foto] [nvarchar](max) NULL,
	[DNI] [nvarchar](50) NULL,
	[Correo_institucional] [nvarchar](50) NULL,
	[Id_Pais_Origen] [int] NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_InvestigatorProfile] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Servicios]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Servicios](
	[Id_Servicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Servicio] [nvarchar](250) NULL,
	[Descripcion_Servicio] [nvarchar](2000) NULL,
	[Id_Tipo_Servicio] [int] NULL,
	[Visibilidad] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicio] [date] NULL,
	[Fecha_Finalizacion] [date] NULL,
 CONSTRAINT [PK_Tbl_Servicios] PRIMARY KEY CLUSTERED 
(
	[Id_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions](
	[Id_Permission] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions_Roles]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_Permission] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Roles]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Roles](
	[Id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[Mail] [nvarchar](150) NULL,
	[Token] [nvarchar](500) NULL,
	[Token_Date] [datetime] NULL,
	[Token_Expiration_Date] [datetime] NULL,
 CONSTRAINT [PK_Security_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users_Roles]    Script Date: 29/8/2023 08:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_User] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [helpdesk].[CaseTable_Agenda] ON 

INSERT [helpdesk].[CaseTable_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (4, 1, 1, N'Lunes', N'08:00', N'17:00', CAST(N'2022-12-12T00:00:00.000' AS DateTime))
INSERT [helpdesk].[CaseTable_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (5, 1, 1, N'Martes', N'08:00', N'17:00', CAST(N'2022-12-30T00:00:00.000' AS DateTime))
INSERT [helpdesk].[CaseTable_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (8, 1, 1, N'Miercoles', N'08:00', N'17:00', CAST(N'2022-12-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [helpdesk].[CaseTable_Agenda] OFF
GO
SET IDENTITY_INSERT [helpdesk].[CaseTable_Calendario] ON 

INSERT [helpdesk].[CaseTable_Calendario] ([IdCalendario], [Id_Tarea], [Estado], [Fecha_Inicial], [Fecha_Final], [Id_Dependencia]) VALUES (1, 1, NULL, CAST(N'2023-08-30T08:00:00.000' AS DateTime), CAST(N'2023-08-30T08:59:00.000' AS DateTime), NULL)
INSERT [helpdesk].[CaseTable_Calendario] ([IdCalendario], [Id_Tarea], [Estado], [Fecha_Inicial], [Fecha_Final], [Id_Dependencia]) VALUES (2, 1, NULL, CAST(N'2023-08-30T09:00:00.000' AS DateTime), CAST(N'2023-08-30T09:59:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [helpdesk].[CaseTable_Calendario] OFF
GO
SET IDENTITY_INSERT [helpdesk].[CaseTable_Case] ON 

INSERT [helpdesk].[CaseTable_Case] ([Id_Case], [Titulo], [Descripcion], [Id_Perfil], [Estado], [Id_Dependencia], [Fecha_Inicial], [Fecha_Final], [Id_Servicio], [Id_Vinculate], [Mail]) VALUES (1023, N'CASO DE PRUEBA', N'Realizar caso de prueba

', NULL, N'Activo', 1, CAST(N'2023-08-28T00:00:00.000' AS DateTime), CAST(N'2023-08-29T00:00:00.000' AS DateTime), 1, 2, N'wilberj1987@gmail.com')
INSERT [helpdesk].[CaseTable_Case] ([Id_Case], [Titulo], [Descripcion], [Id_Perfil], [Estado], [Id_Dependencia], [Fecha_Inicial], [Fecha_Final], [Id_Servicio], [Id_Vinculate], [Mail]) VALUES (1129, N'CASO DE PRUEBA', N'test de vinculación', 1, N'Activo', 1, CAST(N'2023-08-29T00:00:00.000' AS DateTime), CAST(N'2023-08-29T00:00:00.000' AS DateTime), 1, 2, N'wmatus@unan.edu.ni')
SET IDENTITY_INSERT [helpdesk].[CaseTable_Case] OFF
GO
INSERT [helpdesk].[CaseTable_Dependencias_Usuarios] ([Id_Perfil], [Id_Dependencia], [Id_Cargo]) VALUES (1, 1, 1)
GO
SET IDENTITY_INSERT [helpdesk].[CaseTable_Mails] ON 

INSERT [helpdesk].[CaseTable_Mails] ([Id_Mail], [Id_Case], [Subject], [MessageID], [Sender], [FromAdress], [ReplyTo], [Bcc], [Cc], [ToAdress], [Date], [Uid], [Flags], [Estado], [Body]) VALUES (17, 1023, N'CASO DE PRUEBA', N'<CAPjTs_D5C+819BwmbZJgAmOoD8V5NCPrSd_9-UYA4c0eejA35w@mail.gmail.com>', NULL, NULL, N'[]', N'[]', N'[]', N'["wdevexp@outlook.com"]', CAST(N'2023-08-28T16:22:34.000' AS DateTime), N'76', NULL, N'RECIBIDO', N'Realizar caso de prueba

')
SET IDENTITY_INSERT [helpdesk].[CaseTable_Mails] OFF
GO
INSERT [helpdesk].[CaseTable_Participantes] ([Id_Perfil], [Id_Tarea], [Id_Tipo_Participacion]) VALUES (3048, 1, 2)
INSERT [helpdesk].[CaseTable_Participantes] ([Id_Perfil], [Id_Tarea], [Id_Tipo_Participacion]) VALUES (3048, 2, 2)
GO
SET IDENTITY_INSERT [helpdesk].[CaseTable_Tareas] ON 

INSERT [helpdesk].[CaseTable_Tareas] ([Id_Tarea], [Titulo], [Id_TareaPadre], [Id_Case], [Descripcion], [Estado], [Fecha_Inicio], [Fecha_Finalizacion]) VALUES (1, N'Inicio', NULL, 1023, N'test', N'Finalizado', CAST(N'2023-08-28T21:52:37.000' AS DateTime), CAST(N'2023-08-28T21:52:37.000' AS DateTime))
INSERT [helpdesk].[CaseTable_Tareas] ([Id_Tarea], [Titulo], [Id_TareaPadre], [Id_Case], [Descripcion], [Estado], [Fecha_Inicio], [Fecha_Finalizacion]) VALUES (2, N'test', NULL, 1129, N'test', N'Activo', NULL, NULL)
SET IDENTITY_INSERT [helpdesk].[CaseTable_Tareas] OFF
GO
SET IDENTITY_INSERT [helpdesk].[CaseTable_VinculateCase] ON 

INSERT [helpdesk].[CaseTable_VinculateCase] ([Id_Vinculate], [Descripcion], [Fecha]) VALUES (1, N'Vinculación de casos: #1023, #1129', CAST(N'2023-08-28T22:43:46.000' AS DateTime))
INSERT [helpdesk].[CaseTable_VinculateCase] ([Id_Vinculate], [Descripcion], [Fecha]) VALUES (2, N'Vinculación de casos: #1023, #1129', CAST(N'2023-08-28T23:05:23.000' AS DateTime))
SET IDENTITY_INSERT [helpdesk].[CaseTable_VinculateCase] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Cargos_Dependencias] ON 

INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (1, N'Encargado')
INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (2, N'Coordinador')
INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (3, N'Tecnico')
SET IDENTITY_INSERT [helpdesk].[Cat_Cargos_Dependencias] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Dependencias] ON 

INSERT [helpdesk].[Cat_Dependencias] ([Id_Dependencia], [Descripcion], [Id_Dependencia_Padre], [Username], [Password], [Host]) VALUES (1, N'DEPENDENCIA_1', NULL, N'wdevexp@outlook.com', N'%WtestDev2023%', N'outlook.office365.com')
SET IDENTITY_INSERT [helpdesk].[Cat_Dependencias] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Paises] ON 

INSERT [helpdesk].[Cat_Paises] ([Id_Pais], [Estado], [Descripcion]) VALUES (10, N'Activo', N'Honduras')
SET IDENTITY_INSERT [helpdesk].[Cat_Paises] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Evidencia] ON 

INSERT [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo], [Descripcion], [Estado]) VALUES (1, N'IMG', NULL)
INSERT [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo], [Descripcion], [Estado]) VALUES (2, N'PDF', NULL)
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Evidencia] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Participaciones] ON 

INSERT [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion], [Descripcion]) VALUES (1, N'Colaborador')
INSERT [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion], [Descripcion]) VALUES (2, N'Coordinador')
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Participaciones] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Servicio] ON 

SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Servicio] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Profile] ON 

INSERT [helpdesk].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (1, N'Wilber', N'Matus', CAST(N'1987-07-24' AS Date), 1, N'Masculino', N'avatar.png', N'1112dfg', N'Wilber@unaun.edu.ni', 10, N'ACTIVO')
INSERT [helpdesk].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (2, N'Mario', N'Matus', CAST(N'1987-07-24' AS Date), NULL, N'Masculino', N'avatar.png', N'090909', N'Wilber@unaun.edu.ni', 10, N'POSTULANTE')
INSERT [helpdesk].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (3, N'Maria', N'Altamirano', CAST(N'1987-07-24' AS Date), NULL, N'Masculino', N'avatar.png', N'090909', N'Wilber@unaun.edu.ni', 10, N'ACTIVO')
SET IDENTITY_INSERT [helpdesk].[Tbl_Profile] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Servicios] ON 

INSERT [helpdesk].[Tbl_Servicios] ([Id_Servicio], [Nombre_Servicio], [Descripcion_Servicio], [Id_Tipo_Servicio], [Visibilidad], [Estado], [Fecha_Inicio], [Fecha_Finalizacion]) VALUES (1, N'Servicio 1', N'MANTENIMIENTO', 1, N'publica', N'activo', CAST(N'2021-01-12' AS Date), CAST(N'2021-12-12' AS Date))
SET IDENTITY_INSERT [helpdesk].[Tbl_Servicios] OFF
GO
SET IDENTITY_INSERT [security].[Security_Permissions] ON 

INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (1, N'ADMIN_ACCESS', N'Activo')
INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (2, N'ADMINISTRAR_POSTULANTES', N'Activo')
INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (3, N'ADMINISTRAR_INVESTIGACIONES', N'Activo')
SET IDENTITY_INSERT [security].[Security_Permissions] OFF
GO
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 1, N'Activo')
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 2, N'Activo')
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 3, N'Activo')
GO
SET IDENTITY_INSERT [security].[Security_Roles] ON 

INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (1, N'ADMIN', N'Activo')
INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (2, N'INVESTIGADOR', N'Activo')
SET IDENTITY_INSERT [security].[Security_Roles] OFF
GO
SET IDENTITY_INSERT [security].[Security_Users] ON 

INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (1, N'Wilber', N'ACTIVO', N'testsdfsdf', N'b???_??????Q3', N'wmatus@unan.edu.ni', NULL, NULL, NULL)
INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (3, N'Mario Matus', N'ACTIVO', N'Investigador postulado', N'255df622-017a-4ab4-9385-dc9f770f77b0', N'Wilber@unaun.edu.ni', N'f4a83888-a925-4f12-873a-aa84da47bb08', CAST(N'2022-10-06T09:29:55.000' AS DateTime), CAST(N'2023-04-06T09:29:55.000' AS DateTime))
INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (4, N'Maria Altamirano', N'ACTIVO', N'Investigador postulado', N'44e3fbd9-c1bc-4c58-83dc-6cd66d075e7d', N'Wilber@unaun.edu.ni', N'39044cb5-6dd6-424e-b255-17071db11bc1', CAST(N'2022-10-06T09:32:34.000' AS DateTime), CAST(N'2023-04-06T09:32:34.000' AS DateTime))
SET IDENTITY_INSERT [security].[Security_Users] OFF
GO
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (1, 1, N'Activo')
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (2, 1, N'Activo')
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (2, 3, NULL)
GO
ALTER TABLE [helpdesk].[CaseTable_Agenda]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Agenda_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [helpdesk].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[CaseTable_Agenda] CHECK CONSTRAINT [FK_CaseTable_Agenda_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[CaseTable_Agenda]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Agendas_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[CaseTable_Agenda] CHECK CONSTRAINT [FK_CaseTable_Agendas_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[CaseTable_Calendario]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Calendario_CaseTable_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[CaseTable_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[CaseTable_Calendario] CHECK CONSTRAINT [FK_CaseTable_Calendario_CaseTable_Tareas]
GO
ALTER TABLE [helpdesk].[CaseTable_Calendario]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Calendario_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[CaseTable_Calendario] CHECK CONSTRAINT [FK_CaseTable_Calendario_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[CaseTable_Case]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Case_CaseTable_VinculateCase] FOREIGN KEY([Id_Vinculate])
REFERENCES [helpdesk].[CaseTable_VinculateCase] ([Id_Vinculate])
GO
ALTER TABLE [helpdesk].[CaseTable_Case] CHECK CONSTRAINT [FK_CaseTable_Case_CaseTable_VinculateCase]
GO
ALTER TABLE [helpdesk].[CaseTable_Case]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Case_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[CaseTable_Case] CHECK CONSTRAINT [FK_CaseTable_Case_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[CaseTable_Case]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Case_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [helpdesk].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[CaseTable_Case] CHECK CONSTRAINT [FK_CaseTable_Case_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[CaseTable_Case]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Case_Tbl_Servicios] FOREIGN KEY([Id_Servicio])
REFERENCES [helpdesk].[Tbl_Servicios] ([Id_Servicio])
GO
ALTER TABLE [helpdesk].[CaseTable_Case] CHECK CONSTRAINT [FK_CaseTable_Case_Tbl_Servicios]
GO
ALTER TABLE [helpdesk].[CaseTable_Comments]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Coments_CaseTable_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[CaseTable_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[CaseTable_Comments] CHECK CONSTRAINT [FK_CaseTable_Coments_CaseTable_Case]
GO
ALTER TABLE [helpdesk].[CaseTable_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Dependencias_Usuarios_Cat_Cargos_Dependencias] FOREIGN KEY([Id_Cargo])
REFERENCES [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo])
GO
ALTER TABLE [helpdesk].[CaseTable_Dependencias_Usuarios] CHECK CONSTRAINT [FK_CaseTable_Dependencias_Usuarios_Cat_Cargos_Dependencias]
GO
ALTER TABLE [helpdesk].[CaseTable_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Dependencias_Usuarios_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[CaseTable_Dependencias_Usuarios] CHECK CONSTRAINT [FK_CaseTable_Dependencias_Usuarios_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[CaseTable_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Dependencias_Usuarios_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [helpdesk].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[CaseTable_Dependencias_Usuarios] CHECK CONSTRAINT [FK_CaseTable_Dependencias_Usuarios_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[CaseTable_Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Evidencias_CaseTable_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[CaseTable_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[CaseTable_Evidencias] CHECK CONSTRAINT [FK_CaseTable_Evidencias_CaseTable_Tareas]
GO
ALTER TABLE [helpdesk].[CaseTable_Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Evidencias_Cat_Tipo_Evidencia] FOREIGN KEY([IdTipo])
REFERENCES [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo])
GO
ALTER TABLE [helpdesk].[CaseTable_Evidencias] CHECK CONSTRAINT [FK_CaseTable_Evidencias_Cat_Tipo_Evidencia]
GO
ALTER TABLE [helpdesk].[CaseTable_Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mail_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[CaseTable_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[CaseTable_Mails] CHECK CONSTRAINT [FK_Mail_Case]
GO
ALTER TABLE [helpdesk].[CaseTable_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Participantes_CaseTable_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[CaseTable_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[CaseTable_Participantes] CHECK CONSTRAINT [FK_CaseTable_Participantes_CaseTable_Tareas]
GO
ALTER TABLE [helpdesk].[CaseTable_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Participantes_Cat_Tipo_Participaciones] FOREIGN KEY([Id_Tipo_Participacion])
REFERENCES [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion])
GO
ALTER TABLE [helpdesk].[CaseTable_Participantes] CHECK CONSTRAINT [FK_CaseTable_Participantes_Cat_Tipo_Participaciones]
GO
ALTER TABLE [helpdesk].[CaseTable_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Participantes_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [helpdesk].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[CaseTable_Participantes] CHECK CONSTRAINT [FK_CaseTable_Participantes_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[CaseTable_Tareas]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Tareas_CaseTable_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[CaseTable_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[CaseTable_Tareas] CHECK CONSTRAINT [FK_CaseTable_Tareas_CaseTable_Case]
GO
ALTER TABLE [helpdesk].[CaseTable_Tareas]  WITH CHECK ADD  CONSTRAINT [FK_CaseTable_Tareas_CaseTable_Tareas] FOREIGN KEY([Id_TareaPadre])
REFERENCES [helpdesk].[CaseTable_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[CaseTable_Tareas] CHECK CONSTRAINT [FK_CaseTable_Tareas_CaseTable_Tareas]
GO
ALTER TABLE [helpdesk].[Cat_Dependencias]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Dependencias_Cat_Dependencias] FOREIGN KEY([Id_Dependencia_Padre])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Cat_Dependencias] CHECK CONSTRAINT [FK_Cat_Dependencias_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InvestigatorProfile_Cat_Nacionalidad] FOREIGN KEY([Id_Pais_Origen])
REFERENCES [helpdesk].[Cat_Paises] ([Id_Pais])
GO
ALTER TABLE [helpdesk].[Tbl_Profile] CHECK CONSTRAINT [FK_Tbl_InvestigatorProfile_Cat_Nacionalidad]
GO
ALTER TABLE [helpdesk].[Tbl_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InvestigatorProfile_Security_Users] FOREIGN KEY([IdUser])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [helpdesk].[Tbl_Profile] CHECK CONSTRAINT [FK_Tbl_InvestigatorProfile_Security_Users]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Cat_Tipo_Servicio] FOREIGN KEY([Id_Tipo_Servicio])
REFERENCES [helpdesk].[Cat_Tipo_Servicio] ([Id_Tipo_Servicio])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios] CHECK CONSTRAINT [FK_Tbl_Servicios_Cat_Tipo_Servicio]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions] FOREIGN KEY([Id_Permission])
REFERENCES [security].[Security_Permissions] ([Id_Permission])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Users]
GO
USE [master]
GO
