USE [master]
GO
/****** Object:  Database [PROYECT_MANAGER_BD]    Script Date: 8/6/2024 11:10:52 ******/
CREATE DATABASE [PROYECT_MANAGER_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECT_MANAGER_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PROYECT_MANAGER_BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECT_MANAGER_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PROYECT_MANAGER_BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECT_MANAGER_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECT_MANAGER_BD]
GO
/****** Object:  Schema [helpdesk]    Script Date: 8/6/2024 11:10:53 ******/
CREATE SCHEMA [helpdesk]
GO
/****** Object:  Schema [questionnaires]    Script Date: 8/6/2024 11:10:53 ******/
CREATE SCHEMA [questionnaires]
GO
/****** Object:  Schema [security]    Script Date: 8/6/2024 11:10:53 ******/
CREATE SCHEMA [security]
GO
/****** Object:  Table [helpdesk].[Tbl_Case]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Case](
	[Id_Case] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](500) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Id_Perfil] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Id_Dependencia] [int] NULL,
	[Fecha_Inicio] [datetime] NULL,
	[Fecha_Final] [datetime] NULL,
	[Id_Servicio] [int] NULL,
	[Id_Vinculate] [int] NULL,
	[Mail] [nvarchar](max) NULL,
	[Case_Priority] [varchar](50) NULL,
	[MimeMessageCaseData] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tbl_Case] PRIMARY KEY CLUSTERED 
(
	[Id_Case] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Calendario]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Calendario](
	[IdCalendario] [int] IDENTITY(1,1) NOT NULL,
	[Id_Tarea] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicio] [datetime] NULL,
	[Fecha_Final] [datetime] NULL,
	[Id_Dependencia] [int] NULL,
 CONSTRAINT [PK_Tbl_Calendario] PRIMARY KEY CLUSTERED 
(
	[IdCalendario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Tareas]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Tareas](
	[Id_Tarea] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](50) NULL,
	[Id_TareaPadre] [int] NULL,
	[Id_Case] [int] NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicio] [datetime] NULL,
	[Fecha_Finalizacion] [datetime] NULL,
	[Fecha_Inicio_Proceso] [datetime] NULL,
	[Fecha_Finalizacion_Proceso] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Tareas] PRIMARY KEY CLUSTERED 
(
	[Id_Tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [helpdesk].[ViewCalendarioByDependencia]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- helpdesk.ViewCalendarioByDependencia source

CREATE VIEW [helpdesk].[ViewCalendarioByDependencia]
AS
SELECT        helpdesk.Tbl_Tareas.Id_Case, helpdesk.Tbl_Tareas.Id_TareaPadre,  helpdesk.Tbl_Calendario.Fecha_Inicio , helpdesk.Tbl_Calendario.Estado, 
                         helpdesk.Tbl_Calendario.IdCalendario, helpdesk.Tbl_Calendario.Id_Tarea, helpdesk.Tbl_Case.Id_Dependencia
FROM            helpdesk.Tbl_Case INNER JOIN
                         helpdesk.Tbl_Tareas ON helpdesk.Tbl_Case.Id_Case = helpdesk.Tbl_Tareas.Id_Case INNER JOIN
                         helpdesk.Tbl_Calendario ON helpdesk.Tbl_Tareas.Id_Tarea = helpdesk.Tbl_Calendario.Id_Tarea
GO
/****** Object:  Table [helpdesk].[Tbl_Participantes]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Participantes](
	[Id_Perfil] [int] NOT NULL,
	[Id_Tarea] [int] NOT NULL,
	[Id_Tipo_Participacion] [int] NULL,
 CONSTRAINT [PK_Tbl_Participantes] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [helpdesk].[ViewActividadesParticipantes]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [helpdesk].[ViewActividadesParticipantes]
AS
SELECT        helpdesk.Tbl_Case.Id_Case, helpdesk.Tbl_Case.Titulo, helpdesk.Tbl_Case.Descripcion, helpdesk.Tbl_Case.Estado, helpdesk.Tbl_Case.Id_Perfil
FROM            helpdesk.Tbl_Case INNER JOIN
                         helpdesk.Tbl_Tareas ON helpdesk.Tbl_Case.Id_Case = helpdesk.Tbl_Tareas.Id_Case INNER JOIN
                         helpdesk.Tbl_Participantes ON helpdesk.Tbl_Tareas.Id_Tarea = helpdesk.Tbl_Participantes.Id_Tarea
GROUP BY helpdesk.Tbl_Case.Id_Case, helpdesk.Tbl_Case.Titulo, helpdesk.Tbl_Case.Descripcion, helpdesk.Tbl_Case.Estado, helpdesk.Tbl_Case.Id_Perfil
GO
/****** Object:  Table [dbo].[Log]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id_Log] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[body] [nvarchar](max) NULL,
	[message] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Agendas] PRIMARY KEY CLUSTERED 
(
	[Id_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Cargos_Dependencias]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Cargos_Dependencias](
	[Id_Cargo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Cargos_Dependencias] PRIMARY KEY CLUSTERED 
(
	[Id_Cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Dependencias]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Dependencias](
	[Id_Dependencia] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Id_Dependencia_Padre] [int] NULL,
	[Username] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Host] [varchar](100) NULL,
	[AutenticationType] [varchar](max) NULL,
	[TENAT] [varchar](max) NULL,
	[CLIENT] [varchar](max) NULL,
	[OBJECTID] [varchar](max) NULL,
	[CLIENT_SECRET] [varchar](max) NULL,
	[HostService] [varchar](max) NULL,
	[SMTPHOST] [varchar](500) NULL,
	[default] [bit] NULL,
 CONSTRAINT [PK_Cat_Dependencias] PRIMARY KEY CLUSTERED 
(
	[Id_Dependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Paises]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Paises](
	[Id_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Nacionalidad] PRIMARY KEY CLUSTERED 
(
	[Id_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Evidencia]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Evidencia](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Tipo_Evidencia] PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Participaciones]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Participaciones](
	[Id_Tipo_Participacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Tipo_Participaciones] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Participacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Servicio]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Servicio](
	[Id_Tipo_Servicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cat_Tipo_Servicio] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Agenda]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Agenda](
	[IdAgenda] [int] IDENTITY(1,1) NOT NULL,
	[Id_Perfil] [int] NULL,
	[Id_Dependencia] [int] NULL,
	[Dia] [nvarchar](50) NULL,
	[Hora_Inicial] [nvarchar](50) NULL,
	[Hora_Final] [nvarchar](50) NULL,
	[Fecha_Caducidad] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Agendas] PRIMARY KEY CLUSTERED 
(
	[IdAgenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Comments]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Comments](
	[Id_Comentario] [int] IDENTITY(1,1) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Id_Case] [int] NULL,
	[Id_User] [int] NULL,
	[NickName] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Attach_Files] [nvarchar](max) NULL,
	[Mails] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Coments] PRIMARY KEY CLUSTERED 
(
	[Id_Comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Comments_Tasks]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Comments_Tasks](
	[Id_Comentario] [int] IDENTITY(1,1) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Id_Tarea] [int] NULL,
	[Id_User] [int] NULL,
	[NickName] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Attach_Files] [nvarchar](max) NULL,
	[Mails] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Coments_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id_Comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Dependencias_Usuarios]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Dependencias_Usuarios](
	[Id_Perfil] [int] NOT NULL,
	[Id_Dependencia] [int] NOT NULL,
	[Id_Cargo] [int] NULL,
 CONSTRAINT [PK_Tbl_Dependencias_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Dependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Evidencias]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Evidencias](
	[IdEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[IdTipo] [int] NULL,
	[Data] [nvarchar](max) NULL,
	[Id_Tarea] [int] NULL,
 CONSTRAINT [PK_Tbl_Evidencias] PRIMARY KEY CLUSTERED 
(
	[IdEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Mails]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Mails](
	[Id_Mail] [int] IDENTITY(1,1) NOT NULL,
	[Id_Case] [int] NULL,
	[Subject] [nvarchar](max) NULL,
	[MessageID] [nvarchar](max) NULL,
	[Sender] [nvarchar](max) NULL,
	[FromAdress] [nvarchar](max) NULL,
	[ReplyTo] [nvarchar](max) NULL,
	[Bcc] [nvarchar](max) NULL,
	[Cc] [nvarchar](max) NULL,
	[ToAdress] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[Uid] [nvarchar](max) NULL,
	[Flags] [nvarchar](max) NULL,
	[Estado] [varchar](100) NULL,
	[Body] [nvarchar](max) NULL,
	[Attach_Files] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Profile_CasosAsignados]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Profile_CasosAsignados](
	[Id_Perfil] [int] NOT NULL,
	[Id_Case] [int] NOT NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_Tbl_Profile_CasosAsignados] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Case] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Servicios]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Servicios](
	[Id_Servicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Servicio] [nvarchar](250) NULL,
	[Descripcion_Servicio] [nvarchar](2000) NULL,
	[Id_Tipo_Servicio] [int] NULL,
	[Visibilidad] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicio] [date] NULL,
	[Fecha_Finalizacion] [date] NULL,
	[Id_Dependencia] [int] NULL,
 CONSTRAINT [PK_Tbl_Servicios] PRIMARY KEY CLUSTERED 
(
	[Id_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Servicios_Profile]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Servicios_Profile](
	[Id_Perfil] [int] NOT NULL,
	[Id_Servicio] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_Servicios_Profile] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_VinculateCase]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_VinculateCase](
	[Id_Vinculate] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Tbl_VinculateCase] PRIMARY KEY CLUSTERED 
(
	[Id_Vinculate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [questionnaires].[Cat_Categorias_Test]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [questionnaires].[Cat_Categorias_Test](
	[Id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[imagen] [nvarchar](max) NULL,
	[estado] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Cat_Cate__4A033A9332C9187A] PRIMARY KEY CLUSTERED 
(
	[Id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [questionnaires].[Cat_Tipo_Preguntas]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [questionnaires].[Cat_Tipo_Preguntas](
	[id_tipo_pregunta] [int] IDENTITY(1,1) NOT NULL,
	[tipo_pregunta] [nvarchar](max) NULL,
	[descripcion] [nvarchar](max) NULL,
	[estado] [nvarchar](50) NULL,
	[fecha_crea] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[editable] [bit] NULL,
	[descripcion_general] [nvarchar](max) NULL,
 CONSTRAINT [PK__Cat_Tipo__81F6D7D5551EB4EE] PRIMARY KEY CLUSTERED 
(
	[id_tipo_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [questionnaires].[Cat_Valor_Preguntas]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [questionnaires].[Cat_Valor_Preguntas](
	[id_valor_pregunta] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[id_tipo_pregunta] [int] NULL,
	[estado] [nvarchar](50) NULL,
	[valor] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Cat_Valo__014E3C78AB16626B] PRIMARY KEY CLUSTERED 
(
	[id_valor_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [questionnaires].[Pregunta_Tests]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [questionnaires].[Pregunta_Tests](
	[id_pregunta_test] [int] IDENTITY(1,1) NOT NULL,
	[estado] [nvarchar](50) NULL,
	[descripcion_pregunta] [nvarchar](max) NULL,
	[id_test] [int] NULL,
	[id_tipo_pregunta] [int] NULL,
	[fecha] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[seccion] [nvarchar](max) NULL,
	[descripcion_general] [nvarchar](max) NULL,
 CONSTRAINT [PK__Pregunta__0F5B35929CDB72CF] PRIMARY KEY CLUSTERED 
(
	[id_pregunta_test] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [questionnaires].[Resultados_Pregunta_Tests]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [questionnaires].[Resultados_Pregunta_Tests](
	[Id_Perfil] [int] NOT NULL,
	[id_pregunta_test] [int] NOT NULL,
	[resultado] [int] NULL,
	[respuesta] [nvarchar](max) NULL,
	[estado] [nvarchar](50) NULL,
	[id_valor_pregunta] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[fecha] [datetime] NOT NULL,
	[Id_Resultado] [int] NULL,
 CONSTRAINT [PK_Resultados_Pregunta_Tests] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[id_pregunta_test] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [questionnaires].[Resultados_Tests]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [questionnaires].[Resultados_Tests](
	[Id_Perfil] [int] NOT NULL,
	[id_test] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[seccion] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[valor] [nvarchar](max) NULL,
	[categoria_valor] [nvarchar](max) NULL,
	[tipo] [nvarchar](50) NULL,
	[Id_Resultado] [int] IDENTITY(0,1) NOT NULL,
 CONSTRAINT [Resultados_Tests_PK] PRIMARY KEY CLUSTERED 
(
	[Id_Resultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [questionnaires].[Tests]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [questionnaires].[Tests](
	[id_test] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](max) NULL,
	[descripcion] [nvarchar](max) NULL,
	[grado] [int] NULL,
	[tipo_test] [nvarchar](100) NULL,
	[estado] [nvarchar](50) NULL,
	[id_categoria] [int] NULL,
	[fecha_publicacion] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[referencias] [nvarchar](max) NULL,
	[tiempo] [int] NULL,
	[caducidad] [int] NULL,
	[color] [nvarchar](50) NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK__Tests__C6D3284B10E522BD] PRIMARY KEY CLUSTERED 
(
	[id_test] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions](
	[Id_Permission] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions_Roles]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_Permission] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Roles]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Roles](
	[Id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[Mail] [nvarchar](150) NULL,
	[Token] [nvarchar](500) NULL,
	[Token_Date] [datetime] NULL,
	[Token_Expiration_Date] [datetime] NULL,
 CONSTRAINT [PK_Security_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users_Roles]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_User] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Tbl_Profile]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Tbl_Profile](
	[Id_Perfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[FechaNac] [date] NULL,
	[IdUser] [int] NULL,
	[Sexo] [nvarchar](50) NULL,
	[Foto] [nvarchar](max) NULL,
	[DNI] [nvarchar](50) NULL,
	[Correo_institucional] [nvarchar](50) NULL,
	[Id_Pais_Origen] [int] NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_InvestigatorProfile] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([Id_Log], [Fecha], [body], [message]) VALUES (5099, NULL, N'procedure', NULL)
INSERT [dbo].[Log] ([Id_Log], [Fecha], [body], [message]) VALUES (5100, NULL, N'procedure', NULL)
INSERT [dbo].[Log] ([Id_Log], [Fecha], [body], [message]) VALUES (5101, NULL, N'procedure', NULL)
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Cargos_Dependencias] ON 

INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (1, N'Encargado')
INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (2, N'Coordinador')
INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (3, N'Tecnico')
SET IDENTITY_INSERT [helpdesk].[Cat_Cargos_Dependencias] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Dependencias] ON 

INSERT [helpdesk].[Cat_Dependencias] ([Id_Dependencia], [Descripcion], [Id_Dependencia_Padre], [Username], [Password], [Host], [AutenticationType], [TENAT], [CLIENT], [OBJECTID], [CLIENT_SECRET], [HostService], [SMTPHOST], [default]) VALUES (1, N'DEPENDENCIA usav', NULL, N'wdevexp@outlook.com', N'%WtestDev2023%1', N'outlook.office365.com', N'BASIC', NULL, NULL, NULL, NULL, N'OUTLOOK', N'smtp-mail.outlook.com', NULL)
INSERT [helpdesk].[Cat_Dependencias] ([Id_Dependencia], [Descripcion], [Id_Dependencia_Padre], [Username], [Password], [Host], [AutenticationType], [TENAT], [CLIENT], [OBJECTID], [CLIENT_SECRET], [HostService], [SMTPHOST], [default]) VALUES (2, N'DEPENDENCIA 1', NULL, N'wdevexp@outlook.com', N'%WtestDev2023%1', N'outlook.office365.com', N'BASIC', NULL, NULL, NULL, NULL, N'OUTLOOK', N'smtp-mail.outlook.com', NULL)
INSERT [helpdesk].[Cat_Dependencias] ([Id_Dependencia], [Descripcion], [Id_Dependencia_Padre], [Username], [Password], [Host], [AutenticationType], [TENAT], [CLIENT], [OBJECTID], [CLIENT_SECRET], [HostService], [SMTPHOST], [default]) VALUES (3, N'DEPENDENCIA 3', NULL, N'test@test.test', NULL, N'test', N'BASIC', NULL, NULL, NULL, NULL, N'OUTLOOK', N'smtp-mail.outlook.com', NULL)
SET IDENTITY_INSERT [helpdesk].[Cat_Dependencias] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Paises] ON 

INSERT [helpdesk].[Cat_Paises] ([Id_Pais], [Estado], [Descripcion]) VALUES (10, N'Activo', N'Honduras')
INSERT [helpdesk].[Cat_Paises] ([Id_Pais], [Estado], [Descripcion]) VALUES (11, N'ACTIVO', N'Nicaragua actualizada')
INSERT [helpdesk].[Cat_Paises] ([Id_Pais], [Estado], [Descripcion]) VALUES (12, N'ACTIVO', N'Mexico')
SET IDENTITY_INSERT [helpdesk].[Cat_Paises] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Evidencia] ON 

INSERT [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo], [Descripcion], [Estado]) VALUES (1, N'IMG', NULL)
INSERT [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo], [Descripcion], [Estado]) VALUES (2, N'PDF', NULL)
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Evidencia] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Participaciones] ON 

INSERT [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion], [Descripcion]) VALUES (1, N'Colaborador')
INSERT [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion], [Descripcion]) VALUES (2, N'Coordinador')
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Participaciones] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Servicio] ON 

SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Servicio] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Agenda] ON 

INSERT [helpdesk].[Tbl_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (52, NULL, 2, N'Lunes', N'08:00', N'17:00', CAST(N'2024-06-07T00:00:00.000' AS DateTime))
INSERT [helpdesk].[Tbl_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (53, NULL, 2, N'Martes', N'08:00', N'17:00', CAST(N'2024-06-07T00:00:00.000' AS DateTime))
INSERT [helpdesk].[Tbl_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (54, NULL, 2, N'Miércoles', N'08:00', N'17:00', CAST(N'2024-06-07T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [helpdesk].[Tbl_Agenda] OFF
GO
INSERT [helpdesk].[Tbl_Dependencias_Usuarios] ([Id_Perfil], [Id_Dependencia], [Id_Cargo]) VALUES (1, 1, NULL)
INSERT [helpdesk].[Tbl_Dependencias_Usuarios] ([Id_Perfil], [Id_Dependencia], [Id_Cargo]) VALUES (1, 2, NULL)
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Servicios] ON 

INSERT [helpdesk].[Tbl_Servicios] ([Id_Servicio], [Nombre_Servicio], [Descripcion_Servicio], [Id_Tipo_Servicio], [Visibilidad], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Id_Dependencia]) VALUES (4, N'Servicio 1', N'MANTENIMIENTO', 1, N'publica', N'Activo', CAST(N'2021-01-12' AS Date), CAST(N'2021-12-12' AS Date), 1)
INSERT [helpdesk].[Tbl_Servicios] ([Id_Servicio], [Nombre_Servicio], [Descripcion_Servicio], [Id_Tipo_Servicio], [Visibilidad], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Id_Dependencia]) VALUES (5, N'Servicio 2', N'Planeación estratégica ', 3, N'publica', N'Activo', NULL, NULL, 2)
INSERT [helpdesk].[Tbl_Servicios] ([Id_Servicio], [Nombre_Servicio], [Descripcion_Servicio], [Id_Tipo_Servicio], [Visibilidad], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Id_Dependencia]) VALUES (6, N'Servicio 3', N'Migración de sistemas ', 3, N'publica', N'Activo', NULL, NULL, 2)
SET IDENTITY_INSERT [helpdesk].[Tbl_Servicios] OFF
GO
INSERT [helpdesk].[Tbl_Servicios_Profile] ([Id_Perfil], [Id_Servicio]) VALUES (3052, 6)
INSERT [helpdesk].[Tbl_Servicios_Profile] ([Id_Perfil], [Id_Servicio]) VALUES (3054, 5)
INSERT [helpdesk].[Tbl_Servicios_Profile] ([Id_Perfil], [Id_Servicio]) VALUES (3054, 6)
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_VinculateCase] ON 

INSERT [helpdesk].[Tbl_VinculateCase] ([Id_Vinculate], [Descripcion], [Fecha]) VALUES (1, N'Vinculación de casos: #1221, #1220', CAST(N'2024-06-07T09:38:14.760' AS DateTime))
SET IDENTITY_INSERT [helpdesk].[Tbl_VinculateCase] OFF
GO
SET IDENTITY_INSERT [questionnaires].[Cat_Categorias_Test] ON 

INSERT [questionnaires].[Cat_Categorias_Test] ([Id_categoria], [descripcion], [imagen], [estado], [created_at], [updated_at]) VALUES (1, N'evaluacion', N'\Media\image_tests\bb320e87-1eee-4020-a0a2-5325ddcc84f5.png', N'ACTIVO', NULL, NULL)
SET IDENTITY_INSERT [questionnaires].[Cat_Categorias_Test] OFF
GO
SET IDENTITY_INSERT [questionnaires].[Cat_Tipo_Preguntas] ON 

INSERT [questionnaires].[Cat_Tipo_Preguntas] ([id_tipo_pregunta], [tipo_pregunta], [descripcion], [estado], [fecha_crea], [created_at], [updated_at], [editable], [descripcion_general]) VALUES (1, N'PREG1', N'TEST', N'ACTIVO', CAST(N'2024-05-09T00:00:00.000' AS DateTime), NULL, NULL, 1, N'PREGUNTA DICO 1')
INSERT [questionnaires].[Cat_Tipo_Preguntas] ([id_tipo_pregunta], [tipo_pregunta], [descripcion], [estado], [fecha_crea], [created_at], [updated_at], [editable], [descripcion_general]) VALUES (2, N'dico', N'tese', N'ACTIVO', CAST(N'2024-06-07T00:00:00.000' AS DateTime), NULL, NULL, 0, N'dico')
SET IDENTITY_INSERT [questionnaires].[Cat_Tipo_Preguntas] OFF
GO
SET IDENTITY_INSERT [questionnaires].[Cat_Valor_Preguntas] ON 

INSERT [questionnaires].[Cat_Valor_Preguntas] ([id_valor_pregunta], [descripcion], [id_tipo_pregunta], [estado], [valor], [created_at], [updated_at]) VALUES (1, N'SI', 1, N'ACTIVO', 1, NULL, NULL)
INSERT [questionnaires].[Cat_Valor_Preguntas] ([id_valor_pregunta], [descripcion], [id_tipo_pregunta], [estado], [valor], [created_at], [updated_at]) VALUES (2, N'NO', 1, N'ACTIVO', 0, NULL, NULL)
INSERT [questionnaires].[Cat_Valor_Preguntas] ([id_valor_pregunta], [descripcion], [id_tipo_pregunta], [estado], [valor], [created_at], [updated_at]) VALUES (3, N'nunca', 2, N'ACTIVO', 0, NULL, NULL)
SET IDENTITY_INSERT [questionnaires].[Cat_Valor_Preguntas] OFF
GO
SET IDENTITY_INSERT [questionnaires].[Pregunta_Tests] ON 

INSERT [questionnaires].[Pregunta_Tests] ([id_pregunta_test], [estado], [descripcion_pregunta], [id_test], [id_tipo_pregunta], [fecha], [created_at], [updated_at], [seccion], [descripcion_general]) VALUES (1, N'ACTIVO', N'test', 1, 1, CAST(N'2024-05-09T00:00:00.000' AS DateTime), NULL, NULL, N'test', N'test')
INSERT [questionnaires].[Pregunta_Tests] ([id_pregunta_test], [estado], [descripcion_pregunta], [id_test], [id_tipo_pregunta], [fecha], [created_at], [updated_at], [seccion], [descripcion_general]) VALUES (2, N'ACTIVO', N'test3', 1, 1, CAST(N'2024-05-09T00:00:00.000' AS DateTime), NULL, NULL, N'test', N'test3')
INSERT [questionnaires].[Pregunta_Tests] ([id_pregunta_test], [estado], [descripcion_pregunta], [id_test], [id_tipo_pregunta], [fecha], [created_at], [updated_at], [seccion], [descripcion_general]) VALUES (3, N'ACTIVO', N'asdasd', 2, 1, CAST(N'2024-06-07T00:00:00.000' AS DateTime), NULL, NULL, NULL, N'asd')
SET IDENTITY_INSERT [questionnaires].[Pregunta_Tests] OFF
GO
INSERT [questionnaires].[Resultados_Pregunta_Tests] ([Id_Perfil], [id_pregunta_test], [resultado], [respuesta], [estado], [id_valor_pregunta], [created_at], [updated_at], [fecha], [Id_Resultado]) VALUES (1, 1, 0, N'', N'ACTIVO', 2, NULL, NULL, CAST(N'2024-05-09T17:02:52.653' AS DateTime), 1)
INSERT [questionnaires].[Resultados_Pregunta_Tests] ([Id_Perfil], [id_pregunta_test], [resultado], [respuesta], [estado], [id_valor_pregunta], [created_at], [updated_at], [fecha], [Id_Resultado]) VALUES (1, 1, 0, N'', N'ACTIVO', 2, NULL, NULL, CAST(N'2024-05-09T17:56:19.087' AS DateTime), 2)
INSERT [questionnaires].[Resultados_Pregunta_Tests] ([Id_Perfil], [id_pregunta_test], [resultado], [respuesta], [estado], [id_valor_pregunta], [created_at], [updated_at], [fecha], [Id_Resultado]) VALUES (1, 1, 0, N'', N'ACTIVO', 2, NULL, NULL, CAST(N'2024-06-07T15:24:35.257' AS DateTime), 3)
GO
SET IDENTITY_INSERT [questionnaires].[Resultados_Tests] ON 

INSERT [questionnaires].[Resultados_Tests] ([Id_Perfil], [id_test], [fecha], [seccion], [created_at], [updated_at], [valor], [categoria_valor], [tipo], [Id_Resultado]) VALUES (1, 1, CAST(N'2024-05-09T17:02:52.657' AS DateTime), N'test', NULL, NULL, N'0', N'Por definir', N'SUB_ESCALA', 1)
INSERT [questionnaires].[Resultados_Tests] ([Id_Perfil], [id_test], [fecha], [seccion], [created_at], [updated_at], [valor], [categoria_valor], [tipo], [Id_Resultado]) VALUES (1, 1, CAST(N'2024-05-09T17:56:19.087' AS DateTime), N'test', NULL, NULL, N'0', N'Por definir', N'SUB_ESCALA', 2)
INSERT [questionnaires].[Resultados_Tests] ([Id_Perfil], [id_test], [fecha], [seccion], [created_at], [updated_at], [valor], [categoria_valor], [tipo], [Id_Resultado]) VALUES (1, 1, CAST(N'2024-06-07T15:24:35.257' AS DateTime), N'test', NULL, NULL, N'0', N'Por definir', N'SUB_ESCALA', 3)
SET IDENTITY_INSERT [questionnaires].[Resultados_Tests] OFF
GO
SET IDENTITY_INSERT [questionnaires].[Tests] ON 

INSERT [questionnaires].[Tests] ([id_test], [titulo], [descripcion], [grado], [tipo_test], [estado], [id_categoria], [fecha_publicacion], [created_at], [updated_at], [referencias], [tiempo], [caducidad], [color], [image]) VALUES (1, N'test', N'test', NULL, NULL, N'ACTIVO', 1, CAST(N'2024-05-09T00:00:00.000' AS DateTime), NULL, NULL, NULL, 3, 3, N'#9e2424', N'\Media\image_tests\03374288-b233-4752-9041-c4e715241643.png')
INSERT [questionnaires].[Tests] ([id_test], [titulo], [descripcion], [grado], [tipo_test], [estado], [id_categoria], [fecha_publicacion], [created_at], [updated_at], [referencias], [tiempo], [caducidad], [color], [image]) VALUES (2, N'test', N'ads', NULL, NULL, N'ACTIVO', 1, CAST(N'2024-06-07T00:00:00.000' AS DateTime), NULL, NULL, NULL, 20, 1, N'#581919', N'\Media\image_tests\a76a764f-72b6-46c7-9793-15e257695cdf.png')
SET IDENTITY_INSERT [questionnaires].[Tests] OFF
GO
SET IDENTITY_INSERT [security].[Security_Permissions] ON 

INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (1, N'ADMIN_ACCESS', N'Activo')
INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (2, N'ADMINISTRAR_CASOS_DEPENDENCIA', N'Activo')
INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (3, N'TECNICO_CASOS_DEPENDENCIA', N'Activo')
SET IDENTITY_INSERT [security].[Security_Permissions] OFF
GO
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 1, N'Activo')
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 2, N'Activo')
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 3, N'Activo')
GO
SET IDENTITY_INSERT [security].[Security_Roles] ON 

INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (1, N'ADMIN', N'ACTIVO')
INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (2, N'SOPORTE', N'ACTIVO')
INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (3, N'TECNICO', N'ACTIVO')
SET IDENTITY_INSERT [security].[Security_Roles] OFF
GO
SET IDENTITY_INSERT [security].[Security_Users] ON 

INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (1, N'ADMIN', N'ACTIVO', N'ADMIN', N'PxI/Pz8/Pz8/PwdSP2E/Pw==', N'admin@admin.net', NULL, NULL, NULL)
INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (2, N'Gestor prueba', N'ACTIVO', N'test', N'cGpBP2kPGzdLdgp7Pxk/Pz9CeT8/P3NwRj8PaAA/P1M=', N'gestor@gestor.net', NULL, NULL, NULL)
INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (3, N'Tecnico 1', N'ACTIVO', N'tecnico', N'Hj8/bGo/Pz8/Pz8/P2EnPw==', N'tecnico@tecnico.es', NULL, NULL, NULL)
SET IDENTITY_INSERT [security].[Security_Users] OFF
GO
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (1, 1, NULL)
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (6, 5, N'ACTIVO')
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (6, 6, N'ACTIVO')
GO
SET IDENTITY_INSERT [security].[Tbl_Profile] ON 

INSERT [security].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (1, N'Wilber', N'Matus', CAST(N'1987-07-24' AS Date), 1, N'Masculino', N'\Media\profiles\avatar.png', N'1112dfg', N'Wilber@unaun.edu.ni', 11, N'ACTIVO')
INSERT [security].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (3049, N'Gestor 1', N'test', NULL, 2, NULL, N'\Media\profiles\avatar.png', NULL, N'test@test.es', 11, N'ACTIVO')
INSERT [security].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (3050, N'Tecnico 1', N'test', CAST(N'2023-09-14' AS Date), 3, N'Masculino', N'\Media\profiles\a46f8bfe-4465-4c9d-99a0-f6d69057458c.png', N'001', N'tecnico@tecnico.es', 10, N'ACTIVO')
SET IDENTITY_INSERT [security].[Tbl_Profile] OFF
GO
ALTER TABLE [helpdesk].[Cat_Dependencias]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Dependencias_Cat_Dependencias] FOREIGN KEY([Id_Dependencia_Padre])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Cat_Dependencias] CHECK CONSTRAINT [FK_Cat_Dependencias_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Agenda_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Agenda] CHECK CONSTRAINT [FK_Tbl_Agenda_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[Tbl_Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Agendas_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Agenda] CHECK CONSTRAINT [FK_Tbl_Agendas_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Calendario]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Calendario_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Calendario] CHECK CONSTRAINT [FK_Tbl_Calendario_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Calendario]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Calendario_Tbl_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[Tbl_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[Tbl_Calendario] CHECK CONSTRAINT [FK_Tbl_Calendario_Tbl_Tareas]
GO
ALTER TABLE [helpdesk].[Tbl_Case]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Case_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Case] CHECK CONSTRAINT [FK_Tbl_Case_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Case]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Case_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Case] CHECK CONSTRAINT [FK_Tbl_Case_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[Tbl_Case]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Case_Tbl_Servicios] FOREIGN KEY([Id_Servicio])
REFERENCES [helpdesk].[Tbl_Servicios] ([Id_Servicio])
GO
ALTER TABLE [helpdesk].[Tbl_Case] CHECK CONSTRAINT [FK_Tbl_Case_Tbl_Servicios]
GO
ALTER TABLE [helpdesk].[Tbl_Case]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Case_Tbl_VinculateCase] FOREIGN KEY([Id_Vinculate])
REFERENCES [helpdesk].[Tbl_VinculateCase] ([Id_Vinculate])
GO
ALTER TABLE [helpdesk].[Tbl_Case] CHECK CONSTRAINT [FK_Tbl_Case_Tbl_VinculateCase]
GO
ALTER TABLE [helpdesk].[Tbl_Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Coments_Tbl_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[Tbl_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[Tbl_Comments] CHECK CONSTRAINT [FK_Tbl_Coments_Tbl_Case]
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Cat_Cargos_Dependencias] FOREIGN KEY([Id_Cargo])
REFERENCES [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo])
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios] CHECK CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Cat_Cargos_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios] CHECK CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios] CHECK CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[Tbl_Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Evidencias_Cat_Tipo_Evidencia] FOREIGN KEY([IdTipo])
REFERENCES [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo])
GO
ALTER TABLE [helpdesk].[Tbl_Evidencias] CHECK CONSTRAINT [FK_Tbl_Evidencias_Cat_Tipo_Evidencia]
GO
ALTER TABLE [helpdesk].[Tbl_Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Evidencias_Tbl_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[Tbl_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[Tbl_Evidencias] CHECK CONSTRAINT [FK_Tbl_Evidencias_Tbl_Tareas]
GO
ALTER TABLE [helpdesk].[Tbl_Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mail_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[Tbl_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[Tbl_Mails] CHECK CONSTRAINT [FK_Mail_Case]
GO
ALTER TABLE [helpdesk].[Tbl_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Participantes_Cat_Tipo_Participaciones] FOREIGN KEY([Id_Tipo_Participacion])
REFERENCES [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion])
GO
ALTER TABLE [helpdesk].[Tbl_Participantes] CHECK CONSTRAINT [FK_Tbl_Participantes_Cat_Tipo_Participaciones]
GO
ALTER TABLE [helpdesk].[Tbl_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Participantes_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Participantes] CHECK CONSTRAINT [FK_Tbl_Participantes_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[Tbl_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Participantes_Tbl_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[Tbl_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[Tbl_Participantes] CHECK CONSTRAINT [FK_Tbl_Participantes_Tbl_Tareas]
GO
ALTER TABLE [helpdesk].[Tbl_Profile_CasosAsignados]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Profile_CasosAsignados_Tbl_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[Tbl_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[Tbl_Profile_CasosAsignados] CHECK CONSTRAINT [FK_Tbl_Profile_CasosAsignados_Tbl_Case]
GO
ALTER TABLE [helpdesk].[Tbl_Profile_CasosAsignados]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Profile_CasosAsignados_Tbl_Profile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Profile_CasosAsignados] CHECK CONSTRAINT [FK_Tbl_Profile_CasosAsignados_Tbl_Profile]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios] CHECK CONSTRAINT [FK_Tbl_Servicios_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Cat_Tipo_Servicio] FOREIGN KEY([Id_Tipo_Servicio])
REFERENCES [helpdesk].[Cat_Tipo_Servicio] ([Id_Tipo_Servicio])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios] CHECK CONSTRAINT [FK_Tbl_Servicios_Cat_Tipo_Servicio]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Profile_Tbl_Profile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios_Profile] CHECK CONSTRAINT [FK_Tbl_Servicios_Profile_Tbl_Profile]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Profile_Tbl_Servicios] FOREIGN KEY([Id_Servicio])
REFERENCES [helpdesk].[Tbl_Servicios] ([Id_Servicio])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios_Profile] CHECK CONSTRAINT [FK_Tbl_Servicios_Profile_Tbl_Servicios]
GO
ALTER TABLE [helpdesk].[Tbl_Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Tareas_Tbl_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[Tbl_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[Tbl_Tareas] CHECK CONSTRAINT [FK_Tbl_Tareas_Tbl_Case]
GO
ALTER TABLE [helpdesk].[Tbl_Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Tareas_Tbl_Tareas] FOREIGN KEY([Id_TareaPadre])
REFERENCES [helpdesk].[Tbl_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[Tbl_Tareas] CHECK CONSTRAINT [FK_Tbl_Tareas_Tbl_Tareas]
GO
ALTER TABLE [questionnaires].[Cat_Valor_Preguntas]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Valor_Preguntas_Cat_Tipo_Preguntas] FOREIGN KEY([id_tipo_pregunta])
REFERENCES [questionnaires].[Cat_Tipo_Preguntas] ([id_tipo_pregunta])
GO
ALTER TABLE [questionnaires].[Cat_Valor_Preguntas] CHECK CONSTRAINT [FK_Cat_Valor_Preguntas_Cat_Tipo_Preguntas]
GO
ALTER TABLE [questionnaires].[Pregunta_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Pregunta_Tests_Cat_Tipo_Preguntas] FOREIGN KEY([id_tipo_pregunta])
REFERENCES [questionnaires].[Cat_Tipo_Preguntas] ([id_tipo_pregunta])
GO
ALTER TABLE [questionnaires].[Pregunta_Tests] CHECK CONSTRAINT [FK_Pregunta_Tests_Cat_Tipo_Preguntas]
GO
ALTER TABLE [questionnaires].[Pregunta_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Pregunta_Tests_Tests] FOREIGN KEY([id_test])
REFERENCES [questionnaires].[Tests] ([id_test])
GO
ALTER TABLE [questionnaires].[Pregunta_Tests] CHECK CONSTRAINT [FK_Pregunta_Tests_Tests]
GO
ALTER TABLE [questionnaires].[Resultados_Pregunta_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Resultados_Pregunta_Tests_Cat_Valor_Preguntas] FOREIGN KEY([id_valor_pregunta])
REFERENCES [questionnaires].[Cat_Valor_Preguntas] ([id_valor_pregunta])
GO
ALTER TABLE [questionnaires].[Resultados_Pregunta_Tests] CHECK CONSTRAINT [FK_Resultados_Pregunta_Tests_Cat_Valor_Preguntas]
GO
ALTER TABLE [questionnaires].[Resultados_Pregunta_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Resultados_Pregunta_Tests_Pregunta_Tests] FOREIGN KEY([id_pregunta_test])
REFERENCES [questionnaires].[Pregunta_Tests] ([id_pregunta_test])
GO
ALTER TABLE [questionnaires].[Resultados_Pregunta_Tests] CHECK CONSTRAINT [FK_Resultados_Pregunta_Tests_Pregunta_Tests]
GO
ALTER TABLE [questionnaires].[Resultados_Pregunta_Tests]  WITH CHECK ADD  CONSTRAINT [Resultados_Pregunta_Tests_FK] FOREIGN KEY([Id_Resultado])
REFERENCES [questionnaires].[Resultados_Tests] ([Id_Resultado])
GO
ALTER TABLE [questionnaires].[Resultados_Pregunta_Tests] CHECK CONSTRAINT [Resultados_Pregunta_Tests_FK]
GO
ALTER TABLE [questionnaires].[Resultados_Tests]  WITH CHECK ADD  CONSTRAINT [FK_Resultados_Tests_Tests] FOREIGN KEY([id_test])
REFERENCES [questionnaires].[Tests] ([id_test])
GO
ALTER TABLE [questionnaires].[Resultados_Tests] CHECK CONSTRAINT [FK_Resultados_Tests_Tests]
GO
ALTER TABLE [questionnaires].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Cat_Categorias_Test] FOREIGN KEY([id_categoria])
REFERENCES [questionnaires].[Cat_Categorias_Test] ([Id_categoria])
GO
ALTER TABLE [questionnaires].[Tests] CHECK CONSTRAINT [FK_Tests_Cat_Categorias_Test]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions] FOREIGN KEY([Id_Permission])
REFERENCES [security].[Security_Permissions] ([Id_Permission])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Users]
GO
ALTER TABLE [security].[Tbl_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InvestigatorProfile_Cat_Nacionalidad] FOREIGN KEY([Id_Pais_Origen])
REFERENCES [helpdesk].[Cat_Paises] ([Id_Pais])
GO
ALTER TABLE [security].[Tbl_Profile] CHECK CONSTRAINT [FK_Tbl_InvestigatorProfile_Cat_Nacionalidad]
GO
ALTER TABLE [security].[Tbl_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InvestigatorProfile_Security_Users] FOREIGN KEY([IdUser])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [security].[Tbl_Profile] CHECK CONSTRAINT [FK_Tbl_InvestigatorProfile_Security_Users]
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuariosDesdeJSON]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUsuariosDesdeJSON]
    @JSON NVARCHAR(MAX)
AS
BEGIN
    -- Variable para almacenar los datos del JSON
    DECLARE @TablaUsuarios TABLE (
        Departamento NVARCHAR(100),
        Cargo NVARCHAR(100),
        NombresYApellidos NVARCHAR(200),
        CorreoElectronico NVARCHAR(200),
        Telefono NVARCHAR(50),
        Extension NVARCHAR(50),
        Observaciones NVARCHAR(MAX)
    )

    -- Insertar los datos del JSON en la tabla temporal
    INSERT INTO @TablaUsuarios (Departamento, Cargo, NombresYApellidos, CorreoElectronico, Telefono, Extension, Observaciones)
    SELECT Departamento, Cargo, NombresYApellidos, CorreoElectronico, Telefono, Extension, Observaciones
    FROM OPENJSON(@JSON)
    WITH (
        Departamento NVARCHAR(100),
        Cargo NVARCHAR(100),
        NombresYApellidos NVARCHAR(200),
        CorreoElectronico NVARCHAR(200),
        Telefono NVARCHAR(50),
        Extension NVARCHAR(50),
        Observaciones NVARCHAR(MAX)
    )
    SELECT * FROM @TablaUsuarios

    -- Recorrer la tabla temporal para insertar los registros en la base de datos
    DECLARE @DepartamentoId INT, 
	    @CargoId INT, 
	    @IPerfil INT,
	    @UsuarioId INT, 
	    @NombresYApellidos NVARCHAR(MAX), 
	    @CorreoElectronico NVARCHAR(MAX),
	    @Telefono NVARCHAR(MAX), 
	    @Extension NVARCHAR(MAX),
	    @Observaciones NVARCHAR(MAX),
	    @Departamento NVARCHAR(MAX), 
	    @Cargo NVARCHAR(MAX)

    DECLARE usuarioCursor CURSOR FOR
    SELECT Departamento, Cargo, NombresYApellidos, CorreoElectronico, Telefono, Extension, Observaciones
    FROM @TablaUsuarios

    OPEN usuarioCursor
    FETCH NEXT FROM usuarioCursor INTO @Departamento, @Cargo, @NombresYApellidos, @CorreoElectronico, @Telefono, @Extension, @Observaciones

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Verificar si el departamento existe, sino crearlo
        IF NOT EXISTS (SELECT 1 FROM PROYECT_MANAGER_BD.helpdesk.Cat_Dependencias WHERE Descripcion = @Departamento)
        BEGIN
            -- Insertar nuevo departamento
            INSERT INTO PROYECT_MANAGER_BD.helpdesk.Cat_Dependencias (Descripcion)
            VALUES (@Departamento)
            SET @DepartamentoId = SCOPE_IDENTITY()
        END
        ELSE
        BEGIN
	       
            -- Obtener el ID del departamento existente
            SELECT @DepartamentoId = Id_Dependencia FROM PROYECT_MANAGER_BD.helpdesk.Cat_Dependencias WHERE Descripcion = @Departamento
        END

        -- Verificar si el cargo existe, sino crearlo
        IF NOT EXISTS (SELECT 1 FROM PROYECT_MANAGER_BD.helpdesk.Cat_Cargos_Dependencias WHERE Descripcion = @Cargo)
        BEGIN
            -- Insertar nuevo cargo
            INSERT INTO PROYECT_MANAGER_BD.helpdesk.Cat_Cargos_Dependencias (Descripcion)
            VALUES (@Cargo)
            SET @CargoId = SCOPE_IDENTITY()
        END
        ELSE
        BEGIN
            -- Obtener el ID del cargo existente
            SELECT @CargoId = Id_Cargo FROM PROYECT_MANAGER_BD.helpdesk.Cat_Cargos_Dependencias WHERE Descripcion = @Cargo
            
        END
         PRINT @DepartamentoId         
         PRINT @CargoId

        -- Insertar nuevo usuario
        INSERT INTO PROYECT_MANAGER_BD.[security].Security_Users (Nombres, Estado, Descripcion, Password, Mail, Token, Token_Date, Token_Expiration_Date)
        VALUES (@NombresYApellidos, N'ACTIVO', @NombresYApellidos, N'PxI/Pz8/Pz8/PwdSP2E/Pw==', @CorreoElectronico, NULL, NULL, NULL)
        SET @UsuarioId = SCOPE_IDENTITY()

        -- Insertar perfil de usuario
        INSERT INTO PROYECT_MANAGER_BD.[security].Tbl_Profile (Nombres, Apellidos, IdUser, Estado)
        VALUES (SUBSTRING(@NombresYApellidos, 1, CHARINDEX(' ', @NombresYApellidos) - 1), SUBSTRING(@NombresYApellidos, CHARINDEX(' ', @NombresYApellidos) + 1, LEN(@NombresYApellidos)), @UsuarioId, N'ACTIVO')
		SET @IPerfil = SCOPE_IDENTITY()
        -- Insertar relación usuario-departamento-cargo
        INSERT INTO PROYECT_MANAGER_BD.helpdesk.Tbl_Dependencias_Usuarios (Id_Perfil, Id_Dependencia, Id_Cargo)
        VALUES (@IPerfil, @DepartamentoId, @CargoId)

        FETCH NEXT FROM usuarioCursor INTO @Departamento, @Cargo, @NombresYApellidos, @CorreoElectronico, @Telefono, @Extension, @Observaciones
    END

    CLOSE usuarioCursor
    DEALLOCATE usuarioCursor
END
GO
/****** Object:  StoredProcedure [dbo].[sptest]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sptest]  
   @param1 INT,  
   @param2 INT  
AS  
   SELECT 'hellow' as column1 
GO
/****** Object:  StoredProcedure [dbo].[sptest2]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sptest2] as SELECT 'hellow' as column1 
GO
/****** Object:  StoredProcedure [dbo].[sptest3]    Script Date: 8/6/2024 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sptest3] 
   @param1 INT,  
   @param2 INT  
AS  
  INSERT INTO  log (body) values ('procedure')
GO
USE [master]
GO
