
/****** Object:  Database [HELPDESK]    Script Date: 10/4/2024 16:28:13 ******/
CREATE DATABASE [PROYECT_MANAGER_BD]
GO
USE [PROYECT_MANAGER_BD]
GO
/****** Object:  Schema [helpdesk]    Script Date: 10/4/2024 16:28:13 ******/
CREATE SCHEMA [helpdesk]
GO
/****** Object:  Schema [security]    Script Date: 10/4/2024 16:28:13 ******/
CREATE SCHEMA [security]
GO
/****** Object:  Table [helpdesk].[Tbl_Case]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Case](
	[Id_Case] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](500) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Id_Perfil] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Id_Dependencia] [int] NULL,
	[Fecha_Inicio] [datetime] NULL,
	[Fecha_Final] [datetime] NULL,
	[Id_Servicio] [int] NULL,
	[Id_Vinculate] [int] NULL,
	[Mail] [nvarchar](max) NULL,
	[MimeMessageCaseData] [nvarchar](max) NULL,
	[Case_Priority] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Case] PRIMARY KEY CLUSTERED 
(
	[Id_Case] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Calendario]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Calendario](
	[IdCalendario] [int] IDENTITY(1,1) NOT NULL,
	[Id_Tarea] [int] NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicio] [datetime] NULL,
	[Fecha_Final] [datetime] NULL,
	[Id_Dependencia] [int] NULL,
 CONSTRAINT [PK_Tbl_Calendario] PRIMARY KEY CLUSTERED 
(
	[IdCalendario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Tareas]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Tareas](
	[Id_Tarea] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](50) NULL,
	[Id_TareaPadre] [int] NULL,
	[Id_Case] [int] NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicio] [datetime] NULL,
	[Fecha_Finalizacion] [datetime] NULL,
	[Fecha_Inicio_Proceso] [datetime] NULL,
	[Fecha_Finalizacion_Proceso] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Tareas] PRIMARY KEY CLUSTERED 
(
	[Id_Tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [helpdesk].[ViewCalendarioByDependencia]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- helpdesk.ViewCalendarioByDependencia source

CREATE VIEW [helpdesk].[ViewCalendarioByDependencia]
AS
SELECT        helpdesk.Tbl_Tareas.Id_Case, helpdesk.Tbl_Tareas.Id_TareaPadre,  helpdesk.Tbl_Calendario.Fecha_Inicio , helpdesk.Tbl_Calendario.Estado, 
                         helpdesk.Tbl_Calendario.IdCalendario, helpdesk.Tbl_Calendario.Id_Tarea, helpdesk.Tbl_Case.Id_Dependencia
FROM            helpdesk.Tbl_Case INNER JOIN
                         helpdesk.Tbl_Tareas ON helpdesk.Tbl_Case.Id_Case = helpdesk.Tbl_Tareas.Id_Case INNER JOIN
                         helpdesk.Tbl_Calendario ON helpdesk.Tbl_Tareas.Id_Tarea = helpdesk.Tbl_Calendario.Id_Tarea
GO
/****** Object:  Table [helpdesk].[Tbl_Participantes]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Participantes](
	[Id_Perfil] [int] NOT NULL,
	[Id_Tarea] [int] NOT NULL,
	[Id_Tipo_Participacion] [int] NULL,
 CONSTRAINT [PK_Tbl_Participantes] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [helpdesk].[ViewActividadesParticipantes]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [helpdesk].[ViewActividadesParticipantes]
AS
SELECT        helpdesk.Tbl_Case.Id_Case, helpdesk.Tbl_Case.Titulo, helpdesk.Tbl_Case.Descripcion, helpdesk.Tbl_Case.Estado, helpdesk.Tbl_Case.Id_Perfil
FROM            helpdesk.Tbl_Case INNER JOIN
                         helpdesk.Tbl_Tareas ON helpdesk.Tbl_Case.Id_Case = helpdesk.Tbl_Tareas.Id_Case INNER JOIN
                         helpdesk.Tbl_Participantes ON helpdesk.Tbl_Tareas.Id_Tarea = helpdesk.Tbl_Participantes.Id_Tarea
GROUP BY helpdesk.Tbl_Case.Id_Case, helpdesk.Tbl_Case.Titulo, helpdesk.Tbl_Case.Descripcion, helpdesk.Tbl_Case.Estado, helpdesk.Tbl_Case.Id_Perfil
GO
/****** Object:  Table [dbo].[Log]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id_Log] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[body] [nvarchar](max) NULL,
	[message] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Agendas] PRIMARY KEY CLUSTERED 
(
	[Id_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Agenda]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Agenda](
	[IdAgenda] [int] IDENTITY(1,1) NOT NULL,
	[Id_Perfil] [int] NULL,
	[Id_Dependencia] [int] NULL,
	[Dia] [nvarchar](50) NULL,
	[Hora_Inicial] [nvarchar](50) NULL,
	[Hora_Final] [nvarchar](50) NULL,
	[Fecha_Caducidad] [datetime] NULL,
 CONSTRAINT [PK_Tbl_Agendas] PRIMARY KEY CLUSTERED 
(
	[IdAgenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Comments]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Comments](
	[Id_Comentario] [int] IDENTITY(1,1) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Id_Case] [int] NULL,
	[Id_User] [int] NULL,
	[NickName] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Attach_Files] [nvarchar](max) NULL,
	[Mails] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Coments] PRIMARY KEY CLUSTERED 
(
	[Id_Comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Comments_Tasks]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Comments_Tasks](
	[Id_Comentario] [int] IDENTITY(1,1) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Id_Tarea] [int] NULL,
	[Id_User] [int] NULL,
	[NickName] [nvarchar](max) NULL,
	[Mail] [nvarchar](max) NULL,
	[Attach_Files] [nvarchar](max) NULL,
	[Mails] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Coments_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id_Comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Dependencias_Usuarios]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Dependencias_Usuarios](
	[Id_Perfil] [int] NOT NULL,
	[Id_Dependencia] [int] NOT NULL,
	[Id_Cargo] [int] NULL,
 CONSTRAINT [PK_Tbl_Dependencias_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Dependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Evidencias]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Evidencias](
	[IdEvidencia] [int] IDENTITY(1,1) NOT NULL,
	[IdTipo] [int] NULL,
	[Data] [nvarchar](max) NULL,
	[Id_Tarea] [int] NULL,
 CONSTRAINT [PK_Tbl_Evidencias] PRIMARY KEY CLUSTERED 
(
	[IdEvidencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Mails]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Mails](
	[Id_Mail] [int] IDENTITY(1,1) NOT NULL,
	[Id_Case] [int] NULL,
	[Subject] [nvarchar](max) NULL,
	[MessageID] [nvarchar](max) NULL,
	[Sender] [nvarchar](max) NULL,
	[FromAdress] [nvarchar](max) NULL,
	[ReplyTo] [nvarchar](max) NULL,
	[Bcc] [nvarchar](max) NULL,
	[Cc] [nvarchar](max) NULL,
	[ToAdress] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[Uid] [nvarchar](max) NULL,
	[Flags] [nvarchar](max) NULL,
	[Estado] [varchar](100) NULL,
	[Body] [nvarchar](max) NULL,
	[Attach_Files] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_VinculateCase]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_VinculateCase](
	[Id_Vinculate] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Tbl_VinculateCase] PRIMARY KEY CLUSTERED 
(
	[Id_Vinculate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Cargos_Dependencias]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Cargos_Dependencias](
	[Id_Cargo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Cargos_Dependencias] PRIMARY KEY CLUSTERED 
(
	[Id_Cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Dependencias]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Dependencias](
	[Id_Dependencia] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Id_Dependencia_Padre] [int] NULL,
	[Username] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Host] [varchar](100) NULL,
	[AutenticationType] [varchar](max) NULL,
	[TENAT] [varchar](max) NULL,
	[CLIENT] [varchar](max) NULL,
	[OBJECTID] [varchar](max) NULL,
	[CLIENT_SECRET] [varchar](max) NULL,
	[HostService] [varchar](max) NULL,
	[SMTPHOST] [varchar](500) NULL,
	[default] [bit] NULL,
 CONSTRAINT [PK_Cat_Dependencias] PRIMARY KEY CLUSTERED 
(
	[Id_Dependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Paises]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Paises](
	[Id_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Nacionalidad] PRIMARY KEY CLUSTERED 
(
	[Id_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Evidencia]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Evidencia](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Tipo_Evidencia] PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Participaciones]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Participaciones](
	[Id_Tipo_Participacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Tipo_Participaciones] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Participacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Cat_Tipo_Servicio]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Cat_Tipo_Servicio](
	[Id_Tipo_Servicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cat_Tipo_Servicio] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Profile_CasosAsignados]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Profile_CasosAsignados](
	[Id_Perfil] [int] NOT NULL,
	[Id_Case] [int] NOT NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_Tbl_Profile_CasosAsignados] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Case] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Servicios]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Servicios](
	[Id_Servicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Servicio] [nvarchar](250) NULL,
	[Descripcion_Servicio] [nvarchar](2000) NULL,
	[Id_Tipo_Servicio] [int] NULL,
	[Visibilidad] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Fecha_Inicio] [date] NULL,
	[Fecha_Finalizacion] [date] NULL,
	[Id_Dependencia] [int] NULL,
 CONSTRAINT [PK_Tbl_Servicios] PRIMARY KEY CLUSTERED 
(
	[Id_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [helpdesk].[Tbl_Servicios_Profile]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [helpdesk].[Tbl_Servicios_Profile](
	[Id_Perfil] [int] NOT NULL,
	[Id_Servicio] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_Servicios_Profile] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC,
	[Id_Servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions](
	[Id_Permission] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions_Roles]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_Permission] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Roles]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Roles](
	[Id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[Mail] [nvarchar](150) NULL,
	[Token] [nvarchar](500) NULL,
	[Token_Date] [datetime] NULL,
	[Token_Expiration_Date] [datetime] NULL,
 CONSTRAINT [PK_Security_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users_Roles]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_User] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Tbl_Profile]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Tbl_Profile](
	[Id_Perfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[FechaNac] [date] NULL,
	[IdUser] [int] NULL,
	[Sexo] [nvarchar](50) NULL,
	[Foto] [nvarchar](max) NULL,
	[DNI] [nvarchar](50) NULL,
	[Correo_institucional] [nvarchar](50) NULL,
	[Id_Pais_Origen] [int] NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_InvestigatorProfile] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([Id_Log], [Fecha], [body], [message]) VALUES (5099, NULL, N'procedure', NULL)
INSERT [dbo].[Log] ([Id_Log], [Fecha], [body], [message]) VALUES (5100, NULL, N'procedure', NULL)
INSERT [dbo].[Log] ([Id_Log], [Fecha], [body], [message]) VALUES (5101, NULL, N'procedure', NULL)
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Agenda] ON 

INSERT [helpdesk].[Tbl_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (4, 1, 1, N'Lunes', N'08:00', N'17:00', CAST(N'2022-12-12T00:00:00.000' AS DateTime))
INSERT [helpdesk].[Tbl_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (5, 1, 1, N'Martes', N'08:00', N'17:00', CAST(N'2022-12-30T00:00:00.000' AS DateTime))
INSERT [helpdesk].[Tbl_Agenda] ([IdAgenda], [Id_Perfil], [Id_Dependencia], [Dia], [Hora_Inicial], [Hora_Final], [Fecha_Caducidad]) VALUES (8, 1, 1, N'Domingo', N'08:00', N'17:00', CAST(N'2022-12-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [helpdesk].[Tbl_Agenda] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Calendario] ON 

INSERT [helpdesk].[Tbl_Calendario] ([IdCalendario], [Id_Tarea], [Estado], [Fecha_Inicio], [Fecha_Final], [Id_Dependencia]) VALUES (2, 2, NULL, CAST(N'2024-01-22T08:00:00.000' AS DateTime), CAST(N'2024-01-22T08:59:00.000' AS DateTime), NULL)
INSERT [helpdesk].[Tbl_Calendario] ([IdCalendario], [Id_Tarea], [Estado], [Fecha_Inicio], [Fecha_Final], [Id_Dependencia]) VALUES (3, 2, NULL, CAST(N'2024-01-22T09:00:00.000' AS DateTime), CAST(N'2024-01-22T09:59:00.000' AS DateTime), NULL)
INSERT [helpdesk].[Tbl_Calendario] ([IdCalendario], [Id_Tarea], [Estado], [Fecha_Inicio], [Fecha_Final], [Id_Dependencia]) VALUES (4, 3, NULL, CAST(N'2024-01-22T08:00:00.000' AS DateTime), CAST(N'2024-01-22T08:59:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [helpdesk].[Tbl_Calendario] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Case] ON 

INSERT [helpdesk].[Tbl_Case] ([Id_Case], [Titulo], [Descripcion], [Id_Perfil], [Estado], [Id_Dependencia], [Fecha_Inicio], [Fecha_Final], [Id_Servicio], [Id_Vinculate], [Mail], [Case_Priority]) VALUES (1201, N'PRUEBA BASICA', N'<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><div dir="ltr"><br></div>
', NULL, N'Activo', 3, CAST(N'2023-12-28T17:47:17.000' AS DateTime), NULL, 7, NULL, N'"Wilber Jose Matus Gonzalez" <wilberj1987@gmail.com>', NULL)
SET IDENTITY_INSERT [helpdesk].[Tbl_Case] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Comments] ON 

SET IDENTITY_INSERT [helpdesk].[Tbl_Comments] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Comments_Tasks] ON 

INSERT [helpdesk].[Tbl_Comments_Tasks] ([Id_Comentario], [Body], [Estado], [Fecha], [Id_Tarea], [Id_User], [NickName], [Mail], [Attach_Files], [Mails]) VALUES (1, N'test', NULL, CAST(N'2024-01-17T10:38:47.000' AS DateTime), 3, 1, N'ADMIN', N'admin@admin.net', NULL, NULL)
SET IDENTITY_INSERT [helpdesk].[Tbl_Comments_Tasks] OFF
GO
INSERT [helpdesk].[Tbl_Dependencias_Usuarios] ([Id_Perfil], [Id_Dependencia], [Id_Cargo]) VALUES (1, 1, NULL)
INSERT [helpdesk].[Tbl_Dependencias_Usuarios] ([Id_Perfil], [Id_Dependencia], [Id_Cargo]) VALUES (1, 2, NULL)
INSERT [helpdesk].[Tbl_Dependencias_Usuarios] ([Id_Perfil], [Id_Dependencia], [Id_Cargo]) VALUES (3049, 2, NULL)
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Mails] ON 

SET IDENTITY_INSERT [helpdesk].[Tbl_Mails] OFF
GO
INSERT [helpdesk].[Tbl_Participantes] ([Id_Perfil], [Id_Tarea], [Id_Tipo_Participacion]) VALUES (3051, 2, 2)
INSERT [helpdesk].[Tbl_Participantes] ([Id_Perfil], [Id_Tarea], [Id_Tipo_Participacion]) VALUES (3052, 2, 2)
INSERT [helpdesk].[Tbl_Participantes] ([Id_Perfil], [Id_Tarea], [Id_Tipo_Participacion]) VALUES (3052, 3, 2)
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Tareas] ON 

INSERT [helpdesk].[Tbl_Tareas] ([Id_Tarea], [Titulo], [Id_TareaPadre], [Id_Case], [Descripcion], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Fecha_Inicio_Proceso], [Fecha_Finalizacion_Proceso]) VALUES (2, N'Tarea', NULL, 1202, N'tarea 1', N'Activo', CAST(N'2024-01-22T08:00:00.000' AS DateTime), CAST(N'2024-01-22T09:00:00.000' AS DateTime), NULL, NULL)
INSERT [helpdesk].[Tbl_Tareas] ([Id_Tarea], [Titulo], [Id_TareaPadre], [Id_Case], [Descripcion], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Fecha_Inicio_Proceso], [Fecha_Finalizacion_Proceso]) VALUES (3, N'test', NULL, 1206, N'test', N'Finalizado', CAST(N'2024-01-22T08:00:00.000' AS DateTime), CAST(N'2024-01-22T09:00:00.000' AS DateTime), CAST(N'2024-01-17T10:39:11.000' AS DateTime), CAST(N'2024-01-17T10:39:11.000' AS DateTime))
INSERT [helpdesk].[Tbl_Tareas] ([Id_Tarea], [Titulo], [Id_TareaPadre], [Id_Case], [Descripcion], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Fecha_Inicio_Proceso], [Fecha_Finalizacion_Proceso]) VALUES (4, N'ert', NULL, 1205, N'ert', N'Finalizado', CAST(N'2024-01-22T08:00:00.000' AS DateTime), CAST(N'2024-01-22T08:00:00.000' AS DateTime), CAST(N'2024-01-17T13:38:20.000' AS DateTime), CAST(N'2024-01-17T13:38:20.000' AS DateTime))
SET IDENTITY_INSERT [helpdesk].[Tbl_Tareas] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Cargos_Dependencias] ON 

INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (1, N'Encargado')
INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (2, N'Coordinador')
INSERT [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo], [Descripcion]) VALUES (3, N'Tecnico')
SET IDENTITY_INSERT [helpdesk].[Cat_Cargos_Dependencias] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Dependencias] ON 

INSERT [helpdesk].[Cat_Dependencias] ([Id_Dependencia], [Descripcion], [Id_Dependencia_Padre], [Username], [Password], [Host], [AutenticationType], [TENAT], [CLIENT], [OBJECTID], [CLIENT_SECRET], [HostService], [SMTPHOST], [default]) VALUES (1, N'DEPENDENCIA usav', NULL, N'wdevexp@outlook.com', N'%WtestDev2023%1', N'outlook.office365.com', N'BASIC', NULL, NULL, NULL, NULL, N'OUTLOOK', N'smtp-mail.outlook.com', NULL)
INSERT [helpdesk].[Cat_Dependencias] ([Id_Dependencia], [Descripcion], [Id_Dependencia_Padre], [Username], [Password], [Host], [AutenticationType], [TENAT], [CLIENT], [OBJECTID], [CLIENT_SECRET], [HostService], [SMTPHOST], [default]) VALUES (2, N'DEPENDENCIA 1', NULL, N'wdevexp@outlook.com', N'%WtestDev2023%1', N'outlook.office365.com', N'BASIC', NULL, NULL, NULL, NULL, N'OUTLOOK', N'smtp-mail.outlook.com', NULL)
INSERT [helpdesk].[Cat_Dependencias] ([Id_Dependencia], [Descripcion], [Id_Dependencia_Padre], [Username], [Password], [Host], [AutenticationType], [TENAT], [CLIENT], [OBJECTID], [CLIENT_SECRET], [HostService], [SMTPHOST], [default]) VALUES (3, N'DEPENDENCIA 3', NULL, N'test@test.test', NULL, N'test', N'BASIC', NULL, NULL, NULL, NULL, N'OUTLOOK', N'smtp-mail.outlook.com', NULL)
SET IDENTITY_INSERT [helpdesk].[Cat_Dependencias] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Paises] ON 

INSERT [helpdesk].[Cat_Paises] ([Id_Pais], [Estado], [Descripcion]) VALUES (10, N'Activo', N'Honduras')
INSERT [helpdesk].[Cat_Paises] ([Id_Pais], [Estado], [Descripcion]) VALUES (11, N'ACTIVO', N'Nicaragua actualizada')
INSERT [helpdesk].[Cat_Paises] ([Id_Pais], [Estado], [Descripcion]) VALUES (12, N'ACTIVO', N'Mexico')
SET IDENTITY_INSERT [helpdesk].[Cat_Paises] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Evidencia] ON 

INSERT [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo], [Descripcion], [Estado]) VALUES (1, N'IMG', NULL)
INSERT [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo], [Descripcion], [Estado]) VALUES (2, N'PDF', NULL)
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Evidencia] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Participaciones] ON 

INSERT [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion], [Descripcion]) VALUES (1, N'Colaborador')
INSERT [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion], [Descripcion]) VALUES (2, N'Coordinador')
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Participaciones] OFF
GO
SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Servicio] ON 

SET IDENTITY_INSERT [helpdesk].[Cat_Tipo_Servicio] OFF
GO
INSERT [helpdesk].[Tbl_Profile_CasosAsignados] ([Id_Perfil], [Id_Case], [Fecha]) VALUES (1, 1209, CAST(N'2024-02-14' AS Date))
INSERT [helpdesk].[Tbl_Profile_CasosAsignados] ([Id_Perfil], [Id_Case], [Fecha]) VALUES (1, 1210, CAST(N'2024-02-13' AS Date))
INSERT [helpdesk].[Tbl_Profile_CasosAsignados] ([Id_Perfil], [Id_Case], [Fecha]) VALUES (1, 1211, CAST(N'2024-02-13' AS Date))
GO
SET IDENTITY_INSERT [helpdesk].[Tbl_Servicios] ON 

INSERT [helpdesk].[Tbl_Servicios] ([Id_Servicio], [Nombre_Servicio], [Descripcion_Servicio], [Id_Tipo_Servicio], [Visibilidad], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Id_Dependencia]) VALUES (4, N'Servicio 1', N'MANTENIMIENTO', 1, N'publica', N'Activo', CAST(N'2021-01-12' AS Date), CAST(N'2021-12-12' AS Date), 1)
INSERT [helpdesk].[Tbl_Servicios] ([Id_Servicio], [Nombre_Servicio], [Descripcion_Servicio], [Id_Tipo_Servicio], [Visibilidad], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Id_Dependencia]) VALUES (5, N'Servicio 2', N'Planeación estratégica ', 3, N'publica', N'Activo', NULL, NULL, 2)
INSERT [helpdesk].[Tbl_Servicios] ([Id_Servicio], [Nombre_Servicio], [Descripcion_Servicio], [Id_Tipo_Servicio], [Visibilidad], [Estado], [Fecha_Inicio], [Fecha_Finalizacion], [Id_Dependencia]) VALUES (6, N'Servicio 3', N'Migración de sistemas ', 3, N'publica', N'Activo', NULL, NULL, 2)
SET IDENTITY_INSERT [helpdesk].[Tbl_Servicios] OFF
GO
INSERT [helpdesk].[Tbl_Servicios_Profile] ([Id_Perfil], [Id_Servicio]) VALUES (3052, 6)
INSERT [helpdesk].[Tbl_Servicios_Profile] ([Id_Perfil], [Id_Servicio]) VALUES (3054, 5)
INSERT [helpdesk].[Tbl_Servicios_Profile] ([Id_Perfil], [Id_Servicio]) VALUES (3054, 6)
GO
SET IDENTITY_INSERT [security].[Security_Permissions] ON 

INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (1, N'ADMIN_ACCESS', N'Activo')
INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (2, N'ADMINISTRAR_CASOS_DEPENDENCIA', N'Activo')
INSERT [security].[Security_Permissions] ([Id_Permission], [Descripcion], [Estado]) VALUES (3, N'TECNICO_CASOS_DEPENDENCIA', N'Activo')
SET IDENTITY_INSERT [security].[Security_Permissions] OFF
GO
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 1, N'Activo')
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 2, N'Activo')
INSERT [security].[Security_Permissions_Roles] ([Id_Role], [Id_Permission], [Estado]) VALUES (1, 3, N'Activo')
GO
SET IDENTITY_INSERT [security].[Security_Roles] ON 

INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (1, N'ADMIN', N'ACTIVO')
INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (2, N'SOPORTE', N'ACTIVO')
INSERT [security].[Security_Roles] ([Id_Role], [Descripcion], [Estado]) VALUES (3, N'TECNICO', N'ACTIVO')
SET IDENTITY_INSERT [security].[Security_Roles] OFF
GO
SET IDENTITY_INSERT [security].[Security_Users] ON 

INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (1, N'ADMIN', N'ACTIVO', N'ADMIN', N'PxI/Pz8/Pz8/PwdSP2E/Pw==', N'admin@admin.net', NULL, NULL, NULL)
INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (2, N'Gestor prueba', N'ACTIVO', N'test', N'cGpBP2kPGzdLdgp7Pxk/Pz9CeT8/P3NwRj8PaAA/P1M=', N'gestor@gestor.net', NULL, NULL, NULL)
INSERT [security].[Security_Users] ([Id_User], [Nombres], [Estado], [Descripcion], [Password], [Mail], [Token], [Token_Date], [Token_Expiration_Date]) VALUES (3, N'Tecnico 1', N'ACTIVO', N'tecnico', N'Hj8/bGo/Pz8/Pz8/P2EnPw==', N'tecnico@tecnico.es', NULL, NULL, NULL)
SET IDENTITY_INSERT [security].[Security_Users] OFF
GO
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (1, 1, NULL)
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (6, 5, N'ACTIVO')
INSERT [security].[Security_Users_Roles] ([Id_Role], [Id_User], [Estado]) VALUES (6, 6, N'ACTIVO')
GO
SET IDENTITY_INSERT [security].[Tbl_Profile] ON 

INSERT [security].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (1, N'Wilber', N'Matus', CAST(N'1987-07-24' AS Date), 1, N'Masculino', N'\Media\profiles\avatar.png', N'1112dfg', N'Wilber@unaun.edu.ni', 11, N'ACTIVO')
INSERT [security].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (3049, N'Gestor 1', N'test', NULL, 2, NULL, N'\Media\profiles\avatar.png', NULL, N'test@test.es', 11, N'ACTIVO')
INSERT [security].[Tbl_Profile] ([Id_Perfil], [Nombres], [Apellidos], [FechaNac], [IdUser], [Sexo], [Foto], [DNI], [Correo_institucional], [Id_Pais_Origen], [Estado]) VALUES (3050, N'Tecnico 1', N'test', CAST(N'2023-09-14' AS Date), 3, N'Masculino', N'\Media\profiles\a46f8bfe-4465-4c9d-99a0-f6d69057458c.png', N'001', N'tecnico@tecnico.es', 10, N'ACTIVO')
SET IDENTITY_INSERT [security].[Tbl_Profile] OFF
GO
ALTER TABLE [helpdesk].[Tbl_Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Agenda_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Agenda] CHECK CONSTRAINT [FK_Tbl_Agenda_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[Tbl_Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Agendas_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Agenda] CHECK CONSTRAINT [FK_Tbl_Agendas_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Calendario]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Calendario_Tbl_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[Tbl_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[Tbl_Calendario] CHECK CONSTRAINT [FK_Tbl_Calendario_Tbl_Tareas]
GO
ALTER TABLE [helpdesk].[Tbl_Calendario]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Calendario_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Calendario] CHECK CONSTRAINT [FK_Tbl_Calendario_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Case]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Case_Tbl_VinculateCase] FOREIGN KEY([Id_Vinculate])
REFERENCES [helpdesk].[Tbl_VinculateCase] ([Id_Vinculate])
GO
ALTER TABLE [helpdesk].[Tbl_Case] CHECK CONSTRAINT [FK_Tbl_Case_Tbl_VinculateCase]
GO
ALTER TABLE [helpdesk].[Tbl_Case]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Case_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Case] CHECK CONSTRAINT [FK_Tbl_Case_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Case]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Case_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Case] CHECK CONSTRAINT [FK_Tbl_Case_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[Tbl_Case]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Case_Tbl_Servicios] FOREIGN KEY([Id_Servicio])
REFERENCES [helpdesk].[Tbl_Servicios] ([Id_Servicio])
GO
ALTER TABLE [helpdesk].[Tbl_Case] CHECK CONSTRAINT [FK_Tbl_Case_Tbl_Servicios]
GO
ALTER TABLE [helpdesk].[Tbl_Comments]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Coments_Tbl_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[Tbl_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[Tbl_Comments] CHECK CONSTRAINT [FK_Tbl_Coments_Tbl_Case]
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Cat_Cargos_Dependencias] FOREIGN KEY([Id_Cargo])
REFERENCES [helpdesk].[Cat_Cargos_Dependencias] ([Id_Cargo])
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios] CHECK CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Cat_Cargos_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios] CHECK CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Dependencias_Usuarios] CHECK CONSTRAINT [FK_Tbl_Dependencias_Usuarios_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[Tbl_Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Evidencias_Tbl_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[Tbl_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[Tbl_Evidencias] CHECK CONSTRAINT [FK_Tbl_Evidencias_Tbl_Tareas]
GO
ALTER TABLE [helpdesk].[Tbl_Evidencias]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Evidencias_Cat_Tipo_Evidencia] FOREIGN KEY([IdTipo])
REFERENCES [helpdesk].[Cat_Tipo_Evidencia] ([IdTipo])
GO
ALTER TABLE [helpdesk].[Tbl_Evidencias] CHECK CONSTRAINT [FK_Tbl_Evidencias_Cat_Tipo_Evidencia]
GO
ALTER TABLE [helpdesk].[Tbl_Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mail_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[Tbl_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[Tbl_Mails] CHECK CONSTRAINT [FK_Mail_Case]
GO
ALTER TABLE [helpdesk].[Tbl_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Participantes_Tbl_Tareas] FOREIGN KEY([Id_Tarea])
REFERENCES [helpdesk].[Tbl_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[Tbl_Participantes] CHECK CONSTRAINT [FK_Tbl_Participantes_Tbl_Tareas]
GO
ALTER TABLE [helpdesk].[Tbl_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Participantes_Cat_Tipo_Participaciones] FOREIGN KEY([Id_Tipo_Participacion])
REFERENCES [helpdesk].[Cat_Tipo_Participaciones] ([Id_Tipo_Participacion])
GO
ALTER TABLE [helpdesk].[Tbl_Participantes] CHECK CONSTRAINT [FK_Tbl_Participantes_Cat_Tipo_Participaciones]
GO
ALTER TABLE [helpdesk].[Tbl_Participantes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Participantes_Tbl_InvestigatorProfile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Participantes] CHECK CONSTRAINT [FK_Tbl_Participantes_Tbl_InvestigatorProfile]
GO
ALTER TABLE [helpdesk].[Tbl_Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Tareas_Tbl_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[Tbl_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[Tbl_Tareas] CHECK CONSTRAINT [FK_Tbl_Tareas_Tbl_Case]
GO
ALTER TABLE [helpdesk].[Tbl_Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Tareas_Tbl_Tareas] FOREIGN KEY([Id_TareaPadre])
REFERENCES [helpdesk].[Tbl_Tareas] ([Id_Tarea])
GO
ALTER TABLE [helpdesk].[Tbl_Tareas] CHECK CONSTRAINT [FK_Tbl_Tareas_Tbl_Tareas]
GO
ALTER TABLE [helpdesk].[Cat_Dependencias]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Dependencias_Cat_Dependencias] FOREIGN KEY([Id_Dependencia_Padre])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Cat_Dependencias] CHECK CONSTRAINT [FK_Cat_Dependencias_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Profile_CasosAsignados]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Profile_CasosAsignados_Tbl_Case] FOREIGN KEY([Id_Case])
REFERENCES [helpdesk].[Tbl_Case] ([Id_Case])
GO
ALTER TABLE [helpdesk].[Tbl_Profile_CasosAsignados] CHECK CONSTRAINT [FK_Tbl_Profile_CasosAsignados_Tbl_Case]
GO
ALTER TABLE [helpdesk].[Tbl_Profile_CasosAsignados]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Profile_CasosAsignados_Tbl_Profile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Profile_CasosAsignados] CHECK CONSTRAINT [FK_Tbl_Profile_CasosAsignados_Tbl_Profile]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Cat_Dependencias] FOREIGN KEY([Id_Dependencia])
REFERENCES [helpdesk].[Cat_Dependencias] ([Id_Dependencia])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios] CHECK CONSTRAINT [FK_Tbl_Servicios_Cat_Dependencias]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Cat_Tipo_Servicio] FOREIGN KEY([Id_Tipo_Servicio])
REFERENCES [helpdesk].[Cat_Tipo_Servicio] ([Id_Tipo_Servicio])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios] CHECK CONSTRAINT [FK_Tbl_Servicios_Cat_Tipo_Servicio]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Profile_Tbl_Profile] FOREIGN KEY([Id_Perfil])
REFERENCES [security].[Tbl_Profile] ([Id_Perfil])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios_Profile] CHECK CONSTRAINT [FK_Tbl_Servicios_Profile_Tbl_Profile]
GO
ALTER TABLE [helpdesk].[Tbl_Servicios_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Servicios_Profile_Tbl_Servicios] FOREIGN KEY([Id_Servicio])
REFERENCES [helpdesk].[Tbl_Servicios] ([Id_Servicio])
GO
ALTER TABLE [helpdesk].[Tbl_Servicios_Profile] CHECK CONSTRAINT [FK_Tbl_Servicios_Profile_Tbl_Servicios]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions] FOREIGN KEY([Id_Permission])
REFERENCES [security].[Security_Permissions] ([Id_Permission])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Users]
GO
ALTER TABLE [security].[Tbl_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InvestigatorProfile_Cat_Nacionalidad] FOREIGN KEY([Id_Pais_Origen])
REFERENCES [helpdesk].[Cat_Paises] ([Id_Pais])
GO
ALTER TABLE [security].[Tbl_Profile] CHECK CONSTRAINT [FK_Tbl_InvestigatorProfile_Cat_Nacionalidad]
GO
ALTER TABLE [security].[Tbl_Profile]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_InvestigatorProfile_Security_Users] FOREIGN KEY([IdUser])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [security].[Tbl_Profile] CHECK CONSTRAINT [FK_Tbl_InvestigatorProfile_Security_Users]
GO
/****** Object:  StoredProcedure [dbo].[sptest]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sptest]  
   @param1 INT,  
   @param2 INT  
AS  
   SELECT 'hellow' as column1 
GO
/****** Object:  StoredProcedure [dbo].[sptest2]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sptest2] as SELECT 'hellow' as column1 
GO
/****** Object:  StoredProcedure [dbo].[sptest3]    Script Date: 10/4/2024 16:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sptest3] 
   @param1 INT,  
   @param2 INT  
AS  
  INSERT INTO  log (body) values ('procedure');
  
GO
USE [master]
GO
